@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <div class="scripthiden">
                <div class="d-flex align-items-center justify-content-between">
                    <h6>@User.Identity.Name</h6>
                </div>
                <span> <a class="nav-link link-primary" asp-area="Identity" asp-page="/Account/Manage/ProfileNew" title="لوحة التحكم">تفاصيل أخرى</a></span>
            </div>
        </li>

        <li class="nav-item m-3">
            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <div class="fs-3">
                    
                    <button type="submit" class="nav-link btn">تسجيل خروج <ion-icon name="log-out"></ion-icon></button>
                </div>

            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
