
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
	--swiper-theme-color: #005C4B!important;
	--swiper-pagination-bullet-size : 16px;
}

body{
	line-height: 1.5;
	font-family: 'Cairo', sans-serif;
}

.bg-success{
    background-color: #005C4B!important;
}
.text-success{
    color: #005C4B!important;
	
}

.topgreen{
    margin-right: 12%;  
}
.rounded-end {
    border-top-right-radius: 8rem!important;
    border-bottom-right-radius: 8rem!important;
}


@media (min-width:1400px) {
	.boress{
		
		border-left:1px solid  #005C4B;
	}
	
}
@media (max-width:1399px) {
	.mt{
		margin-top: 40px;
	}
	.pos{
		position:absolute;
		left: 50%;
		top: 80%;
		transform: translate(-50% ,0);

	}
}
@media (max-width:576px) {
	.mt{
		margin-top: 80px;
		margin-bottom: 80px;
		padding-bottom: 7rem !important;
	}
	.my{
		margin-top: 15px;
		margin-bottom:15px;
	}
	.pos{
		
		top: 85%;
		width: 50%;
		
	

	}
	
	
	
}
.btn-outline-success {
    color: #005C4B!important;
    border-color: #005C4B!important;
	box-shadow: none !important;
	
}
.btn-outline-success:hover {
    color: #ffffff!important;
    border-color: #005C4B!important;
	background-color: #005C4B !important;
	
	
}

  


.navbar-brand{
    right: 0;
    top:0;
}
@media only screen and (max-width: 991px) {
    .topgreen{
        margin-right: 0;  
    }
    .logo{
        width: 18%;

    }
    .topgreen::before{
        content: "";
    }
  }
  

a#navbarDarkDropdownMenuLink {
    color: black;
}
.bg{
	margin:auto;
    padding-top: 50px;
	background-image: url("../imges/Image\ 18.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -2;
	text-align: center;
	display: flex;
	align-items: center !important;
}
.bg::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #90a27894;
	z-index: -1;

}
.rounded-5{
	border-radius: 1rem!important;
}
.f_bg{
	margin:auto;
    background-color: #005D4B;
}
.ccc{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}  
.background{
	background-image: url("../imges/home-3.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 950px;
	position: relative;
	z-index: 0;
}

.background::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.336);
	z-index: -1;

}
.pt-10{
	padding-top: 10rem !important ;
}
.cent{
	position: absolute;
	z-index: 2;
	top:  60%;
	left: 50%;
	transform: translate(-50% ,-50%);
}
.cent1{
	position: absolute;
	z-index: 2;
	top:  30%;
	left: 50%;
	transform: translate(-50% ,-50%);
}
.cent2{
	position: absolute;
	z-index: 2;
	top: 20%;
	left: 50%;
	transform: translate(-50% ,-50%);
}





.title{
	border-bottom: solid 4px black;
	display: inline-block;
	

}
.checked {
	color: orange;
  }
  .bi-heart-fill:hover{
	 color: red;
  }
  .top-be::after{
	content: '\f030  07';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:5px;
    color: white;
	position: absolute;
	background-color: #005C4B;
	top: 10px;
	right: 0px;
	width: 25%;
	padding: 6px;
	text-align: center;
  }
  .top-bee::before{
	  content: 'بيع';
	color: white;
	position: absolute;
	background-color: #005C4B;
	top:  150px;
	left: 0px;
	width: 30%;
	padding: 5px 15px ;
	padding-bottom: 7px;
	font-size: 30px;
	text-align: center;

  }
  .botom-be::before{
	content: 'ايجار';
	color: white;	
	position: absolute;
	background-color: #005C4B;
	top:  150px;
	left: 0px;
	width: 30%;
	padding: 5px 15px ;
	padding-bottom: 7px;
	font-size: 30px;
	text-align: center;
  }
  .botom-bee::before{
	content: '  بيع وايجار ';
	color: white;
	position: absolute;
	background-color: #005C4B;
	top:  150px;
	left: 0px;
	width: 50%;
	padding: 5px 15px ;
	padding-bottom: 7px;
	font-size: 30px;
	text-align: center;
  }
  .top-be {
    position: relative;
}
.dn{
	display: none;
}
.form-check-input:checked {
    background-color: #005C4B;
    border-color: #005C4B;
	box-shadow: none;
}

.rounded-6{
	border-radius:4rem !important;
}
.bgscen{
	background-color: rgba(128, 128, 128, 0.253);
}
.animate{
	animation-name: example;
	animation-duration: 1s;
	
}
@keyframes example {
	0%   { left:50%; top:20%;}
	100% { left:50%; top:60%;}
  }

  .animate1{
	animation-name: example1;
	animation-duration: 1s;
	
}
@keyframes example1 {
	0%   { left:50%; top:10%;}
	100% { left:50%; top:30%;}
  }

  .animate2{
	animation-name: example2;
	animation-duration: 1s;
	
}
@keyframes example2 {
	0%   { left:50%; top:5%;}
	100% { left:50%; top:20%;}
  }
  /* .anmateslid{
	animation-name: example3;
	animation-duration: 1s;
	
  }
  @keyframes example3 {
	0%   { margin-left: 0px;}
	100% { margin-left: 15px;}
  } */
  .card1{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}
.card1:hover{
    box-shadow: #005c4b5d -15px 15px, #005c4b5d -7px 7px ;
}
.mb-6{
	margin-bottom: 5rem!important;
}
