@model GP.Models.Comments
<form method="post">

    <div id="div1"> 

        <label asp-for="@Model.Body"></label>
        <input  asp-for="@Model.Body"/>
        <button class="btn btn-outline-dark" id="btnRebly"> إضافة رد </button>
        <input type="text" style="display:none;" id="reply" />

    </div>
</form>


@section Scripts{
    <script src="~/lib/bootstrap/js/bootstrap.min.js" ></script>
    <script>
 
   var btun= document.getElementById("btnRebly");
   btun.addEventListener("click", function btnclick(){
       const newDiv = document.createElement("div");
       let inputbtn=document.getElementById("reply");
       inputbtn.style.display="block";

   });  
    </script>
}