.formFile::before {
    content: "اختر ملف";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #e9ecef;
    width: 80px;
    color: #111;
}
.btn-outline-green {
    color: #0f4f54 !important;
    border-color: #0f4f54 !important;
}

 .btn-outline-green:hover {
        color: white !important;
        border-color: #0f4f54 !important;
        background: #0f4f54;
  }
.textgreen {
    color: #0f4f54 !important;
}
