

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"  style="color: #0f4f54">العقارات</h1>
<hr />


@if (GP.Models.Toast.ShowTost)
{
     
       GP.Models.Toast.ShowTost = false;
     
    <div id="mymessage" class="toast align-items-center text-white bg-primary border-0" role="alert"  data-delay="10000" data-autohide="true" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @GP.Models.Toast.Message
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}

<p>
    <a asp-action="Create">أضف جديد </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>الرقم</th>
            <th> اسم العقار </th>
            <th> الوصف </th>
            <th> صاحب العقار</th>
            <th>الصورة</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    @(await Html.PartialAsync("_ValidationScriptsPartial"));
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Estates").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "responsive": true,
                "lengthMenu": [10, 20, 30, 40, 50],
                "language": {
                    "search": "ابحث",
                    "lengthMenu": "عرض _MENU_ صفوف"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    "url": '/api/Api/GetEstate',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autowidth": true },
                    { "data": "name", "name": "name", "autowidth": true },
                    { "data": "description", "name": "description", "autowidth": true },
                    {
                        "render": function (data, type, row) { return '<span>'+ row.users.userName+'</span>' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<img src="' + row.main_photo + '" class=" w-25 h-25" asp-append-version="true" />' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) { return '<a href="/" class="btn btn-outline-danger"  > تفاصيل </a>' },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row, meta) {
                            if (row.isBlock) {
                                return '<a href="#" class="btn btn-sm btn-outline-primary ms-2" onclick=IsActive(' + row.id + '); > تفعيل </a>'
                            }
                            else {
                                return '<a href="#" class="btn btn-sm btn-outline-danger ms-2" onclick=IsActive(' + row.id + '); > تقييد </a>'
                            }
                         
                        
                        },
                        "orderable": false
                    },

                ]
            });
        });

        function EditItem(data) {
            $(".span").text("");
            $("#btnAdd").hide();
            $("#btnEdit").show();
            $("#id").val(data.id);
            $("#fname").val(data.category);
            $("#image").attr("src", data.imagePath);
        }
        function DeleteCategory(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'Get',
                        url: `/Admin/CategoryOperation/Delete/${Id}`,
                        data: JSON.stringify({ id: Id }),
                        success: function () {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            var Table = $("#Estates").DataTable();
                            Table.draw();
                        }
                    });
                    
                }
            })
           
        }
        $("#Add").on("click", function () {
            $("#btnAdd").show();
            $("#btnEdit").hide();
            $("input").val("");
            $(".span").text("");
            $('#image')[0].src = "";
        });
        function img_pathUrl(input) {
            $('#image')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }
        $("#btnAdd").on("click", function () {
            if ($("#lname").val() != "" && $("#fname").val() != "")
            {
                var nameEdit = $("#fname").val();
                for (var i = 0; i < nameEdit.length; i++) {
                    nameEdit = nameEdit.replace(" ", "_");
                }
                $("#fname").val(nameEdit);
                var data = new FormData($("#formadd").get(0));
             
                $.ajax({
                    method: 'Post',
                    url: '/Admin/CategoryOperation/Create',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Item has been added successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $("#btnClose").click();
                        var Table = $("#Estates").DataTable();
                        Table.draw(false);
                    }
                });
            }

          
           
        });
        $("#formadd").on("submit", function (e) {
            e.preventDefault();
        })


        function IsActive(Id) {
            alert(Id);
            $.ajax({
                method: 'Get',
                url: `/Admin/Estate/ActiveEstate/${Id}`,
                data: {Id},
                    processData: false,
                    contentType: false,
                    success: function (status) {
                        $("#btnClose").click();
                        if (status) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'نجاح',
                                title: 'تم التقييد ',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                             Swal.fire({
                                position: 'top-end',
                                icon: 'نجاح',
                                title: 'تم التفعيل بنجاح',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                       
                        var Table = $("#Estates").DataTable();
                        Table.draw(false);
                    }
                });
        }

        $("#btnEdit").on("click", function () {
            if ($("#fname").val() != "") {
                var nameEdit = $("#fname").val();
                for (var i = 0; i < nameEdit.length; i++) {
                    nameEdit = nameEdit.replace(" ", "_");
                }
                $("#fname").val(nameEdit);
                var data = new FormData($("#formadd").get(0));

                $.ajax({
                    method: 'Post',
                    url: '/Admin/CategoryOperation/Edit',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $("#btnClose").click();
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'تم التعديل بنجاح',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        var Table = $("#Estates").DataTable();
                        Table.draw(false);
                    }
                });
            }
           
        })
    </script>
}

