@{
    ViewData["Title"] = "Home Page";
}


 <div class="content">
        <div class=" p-5 " style="padding-bottom: 500px;">
            <div id="b">

                <div class="  row    text-sm-center  d-flex justify-content-around ">

                    <div class=" ff cont  col-xl-2  col-sm-5 mb-sm-3   bg-white rounded-3 p-5  "> saja</div>
                    <div class=" ff cont  col-xl-2    col-sm-5 mb-sm-3  bg-white rounded-3 p-5 "> sakja</div>
                    <div class=" ff cont col-xl-2    col-sm-5  mb-sm-3 bg-white rounded-3 p-5 "> saja</div>
                    <div class=" ff cont  col-xl-2    col-sm-5 mb-sm-3  bg-white rounded-3 p-5 "> saja</div>

                </div>
                <div class="row mt-5 justify-content-around  ">

                    <div class=" overflow-auto cont  col-xxl-5 col-sm-12 mb-sm-5 mark bg-white rounded-4 p-7  ">

                    </div>
                    <div class=" overflow-auto cont  col-xxl-5 col-sm-12 mb-sm-5  mark bg-white rounded-4 p-7  ">

                    </div>
                </div>

            </div>
        </div>
    </div>
