@{
    ViewData["Title"] = "Home Page";
}


<table id="Estates" class="table table-striped table-bordered  flex-nowrap" style="direction:rtl;">
    <thead>
        <tr>
            <th>الرقم</th>
            <th>الفئة</th>
            <th>النوع</th>
            <th>الحالة</th>
            <th>خط العرض</th>
            <th>خط الطول</th>
            <th>المدينة</th>
            <th>العملة</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{

    @*<script src="~/js/Estate.js"></script>*@
}
