@import url("../bootstrap/font/bootstrap-icons.css");

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../font/SLXGc1nY6HkvalIkTpu0xg.woff2') format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}



:root,
:root.light {
    --green: #2a5555 !important;
    /* --green: #0f4f54 !important; */
    --bgwhite: #f6f6f6 !important;
    --txtwhite: #f1f1f1 !important;
    --txtactive: #111;
    --contact: rgb(255, 255, 255);
    --grendark: #0f4f54;
    --bgsec: #eeeeeed4;
    --litegreen: #9ba889 !important;
    --textnav: #f1f1f1 !important;
    --bgcolor2: #d7d7d7;
    --bgdark: #fff !important;
    293px --orange: #d46300;
    --navcolor: chocolate;
    --navcolorhover: rgb(255, 255, 255);
    --navbghover: chocolate;
    --colorscrolbar: #a6bad9;
    --footercolor: #9ba88989;
    --bg-color: #fff;
    --text-color: #123;
    --orange2: navajowhite;
    --secondery: #585757;
    --form: #fff;
    --dartcc: #000;
    --bgseChat: #eeeeee;
}

    :root.dark {
        --green: #15202b !important;
        --bgwhite: #1d2a35 !important;
        --txtactive: #ffffff;
        --orange: #d46300;
        --orange2: navajowhite;
        --contact: var(--green);
        --grendark: #0f4f54;
        --litegreen: var(--litegreen);
        --bgdark: #15202b !important;
        --bgsec: #15202b;
        --footercolor: #00000089;
        --secondery: #d5d5d5;
        --form: #1d2a35;
        --dartcc: #e0e0e0;
        --bgseChat: #15202b;
    }


* {
  font-family: Cairo;
  direction: rtl;
}

html {
  height: 100%;
}


.text-white {
  color: var(----txtwhite);
}

.bg-white {
  background: var(--bgwhite)
}

body {
  background: var(--bgwhite);
  color: var(--txtactive);
  height: 100%;
  position: relative;
}

/***************************************** start header **************************/
/*****************land*******************************************/

video.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../assets/img/bg-mobile-fallback.jpg") #2a5555 no-repeat center center scroll;
    background-size: cover;
  }

  body video {
    display: none;
  }
}

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 74%);
}

.masthead .masthead-content {
  position: relative;
  max-width: 50rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    min-height: 0;
    padding-bottom: 0;
  }

  .masthead:before {
    transform: skewX(19deg);
    transform-origin: top left;
  }

  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 9rem;
  }
}

@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}

.social-icons {
  position: relative;
  z-index: 2;
}

.social-icons .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100rem;
}

@media (min-width: 992px) {
  .social-icons {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: auto;
  }
}


/********************navbar************************/
nav {
  background-color: var(--green);
}

.bgcolors {
  background-color: var(--green);
  color: white;
  transition: all 0.2s ease-in-out;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255);
  border-color: rgba(255, 255, 255);
}

.logo {
  width: 120px;
}

.nav .nav-item .nav-link {
  color: var(--textnav);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--textnav);
  padding-bottom: 1px !important;
  margin: 0 2px;
}

.navbar-dark .navbar-nav .nav-link>span:hover {
  border-bottom: 1px solid var(--textnav);
  padding-bottom: 5px;
  transition: 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link .active {
  border-bottom: 1px solid var(--textnav);
  padding-bottom: 5px;
}

.col .nav .nav-item .nav-link .bi-person-bounding-box {
  color: var(--litegreen);
}

.nav .dropdown .dropdown-toggle::after {
  color: var(--litegreen);
}

.dropdown-menu {
  background: var(--green);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: var(--textnav);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bgwhite);
  color: var(--txtactive)
}

nav.black {
  background: #28686dbb !important;
  padding: 0 50px;
  backdrop-filter: blur(1.5rem);
  transition: 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

/*********** dark icons *******************/

.toggle-container {
  position: relative;
}

.theme-btn {
  border-radius: 50%;
  background-color: var(--litegreen);
  border: 0;
  padding: 7px 12px;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}






/***************************** section 1 *******************/
.bgacground {
  background: var(--bgwhite);
  opacity: 85%;
  width: 50%;
}

@media (min-width: 992px) {
  .bgacground {
    background: var(--bgwhite);
    opacity: 85%;
    width: 100%;
  }
}

.btn-search {
  background-color: var(--green);
  color: var(--txtwhite);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #0f4f5467;
}

.rounded-5 {
  border-radius: 1rem !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--orange);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--litegreen);
}
select.form-selectt {
  background-position: left 1.75rem center;
  background-color: var(--bgwhite);
  border: none !important;
  color: var(--orange);
  margin-left: auto;
  margin-right: auto;
}

select:focus-visible {
  outline-offset: 5px;
  outline: none;
}






/*********************************المميزة*********************************/
.game {
  background: var(--bgsec);
  backdrop-filter: blur(0.5rem);
  z-index: -1;
  padding-bottom: 20px;
  border-radius: 1rem;
}

.bg-b {
  color: var(--txtactive);
}

.bg-b:hover {
  background-color: var(--green);
  color: var(--txtwhite);
}

.streamers {
  display: flex;
  text-align: center;
}

.streamers img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.front {
  transition: 200ms;
}

    .front > img {
        border-radius: 12px;
        width: 309px;
        height: 230px;
    }

@media screen and (max-width: 992px) {
    .front > img {
        width: 509px;
        height: 330px;
    }
}

.front .streamers img:nth-child(1) {
  z-index: 1;
  transform: translateX(15px);
}

.front .streamers img:nth-child(2) {
  transform: translateX(10px);
}

.back {
  position: absolute;
  top: 56%;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.game:hover .front {
  transform: translateY(-25%) scale(0.8);
}

.game:hover .front .status {
  opacity: 0;
}

.game:hover .back {
  opacity: 1;
}

.game:hover .back .streamers {
  width: 100%;
  justify-content: space-between;
}

.game:hover .rank {
  top: -35px;
  right: -10px;
}

.game:hover .backgroundWrapper {
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  opacity: 1;
  transform: scale(1.4, 1.2);
}

.rank {
  position: absolute;
  right: 15px;
  font-weight: bold;
  font-size: 1.12rem;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5em 0.5em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: 250ms ease-in-out;
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: 0;
  }

  50% {
    text-align: center;
    opacity: 0;
  }

  100% {
    text-align: center;
    opacity: 1;
  }
}

.checked {
  color: orange;
}

.bgdaeke {
  background-color: var(--bgwhite);
}

/***like**/
.heart {
  font-size: 25px;
  color: #aaa;
}

.heart-des {
  font-size: 25px;
  color: red;
}







/************* section 2 ***************************/

.card-img-top {
    width: 209px;
    height: 230px;
}

@media screen and (max-width: 992px) {
    .card-img-top {
        width: 509px;
        height: 330px;
    }
}


.txtborder {
    color: var(--orange);
    padding: 3px;
    border-bottom: 5px solid var(--orange);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

    .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

.swiper-pagination {
    position: relative;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bgdark);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}





/**********************3******************************************/
.gradient {
    background-image: linear-gradient(#e5cf9c, #fff, var(--bg-color));
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape-top svg {
    width: calc(200% + 1.3px);
    height: 300px;
    transform: translateX(-50%) rotateY(180deg);
    fill: #c39c832b;
}


/*************************4**********************************/
.form-check-input:checked {
  background-color: var(--orange);
  border-color: var(--orange);
}

.form-check-input:focus {
  border-color: var(--orange);
  outline: 0;
  box-shadow: none;
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #d463005b;
}

.textsec3 {
  color: var(--txtactive)
}




/*********************************************************/


.bi-heart-fill:hover {
    color: red;
}

.top-be {
    margin-left: 5px;
    color: white;
    position: absolute;
    background-color: #005C4B;
    top: -205px;
    right: 0px;
    width: 30%;
    padding: 6px;
    text-align: center;
}

.top-bee {
    color: white;
    position: absolute;
    background-color: #005C4B;
    top: 150px;
    left: 0px;
    width: 30%;
    padding: 5px 15px;
    padding-bottom: 7px;
    font-size: 30px;
    text-align: center;
}

.botom-be {
    color: white;
    position: absolute;
    background-color: #005C4B;
    top: 150px;
    left: 0px;
    width: 30%;
    padding: 5px 15px;
    padding-bottom: 7px;
    font-size: 30px;
    text-align: center;
}

.botom-bee {
    color: white;
    position: absolute;
    background-color: #005C4B;
    top: 150px;
    left: 0px;
    width: 50%;
    padding: 5px 15px;
    padding-bottom: 7px;
    font-size: 30px;
    text-align: center;
}

.top-be {
    position: relative;
}

.dn {
    display: none;
}

.rounded-6 {
    border-radius: 4rem !important;
}

.card1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}

    .card1:hover {
        box-shadow: #005c4b5d -15px 15px, #005c4b5d -7px 7px;
    }

.mb-6 {
    margin-bottom: 5rem !important;
}




/***************عملاء************/
.carousel {
    margin: 50px auto;
}

    .carousel .carousel-item {
        color: #999;
        overflow: hidden;
        min-height: 120px;
        font-size: 13px;
    }

    .carousel .media {
        position: relative;
        padding: 0 0 0 20px;
        margin-left: 20px;
    }

        .carousel .media img {
            width: 75px;
            height: 75px;
            display: block;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border: 2px solid #fff;
        }

    .carousel .testimonial {
        color: #fff;
        position: relative;
        background: #6c757d;
        padding: 15px;
        margin: 0 0 20px 20px;
    }

        .carousel .testimonial::before,
        .carousel .testimonial::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -20px;
        }

        .carousel .testimonial::before {
            width: 20px;
            height: 20px;
            background: #9b9b9b;
            box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
        }

        .carousel .testimonial::after {
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: var(--bgwhite);
            border-left-color: var(--bgwhite);
        }

    /* .carousel .carousel-item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
} */
    .carousel .carousel-item .row > div:first-child .media {
        margin-left: 0;
    }

    .carousel .testimonial p {
        text-indent: 40px;
        line-height: 21px;
        margin: 0;
        text-align: right;
    }

        .carousel .testimonial p::before {
            content: "\201D";
            font-family: Arial, sans-serif;
            color: #fff;
            font-weight: bold;
            font-size: 68px;
            line-height: 70px;
            position: absolute;
            right: -25px;
            top: 0;
        }

    .carousel .overview {
        padding: 3px 0 0 15px;
        text-align: right;
    }

        .carousel .overview .details {
            padding: 5px 0 8px;
        }

        .carousel .overview b {
            text-transform: uppercase;
            color: #ff5555;
        }

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    color: #666;
    text-shadow: none;
    top: 4px;
}

    .carousel-control-prev i,
    .carousel-control-next i {
        font-size: 16px;
    }

.carousel-control-prev {
    left: -20px;
    /* right: 40px; */
    top: 90px;
}

.carousel-control-next {
    top: 90px;
    right: -40px;
}

.carousel-indicators {
    bottom: -80px;
}

    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 17px;
        height: 17px;
        border-radius: 0;
        margin: 1px 5px;
        box-sizing: border-box;
    }

    .carousel-indicators li {
        background: #e2e2e2;
        border: 4px solid #fff;
    }

        .carousel-indicators li.active {
            color: #fff;
            background: #ff5555;
            border: 5px double;
        }

.star-rating li {
    padding: 0 2px;
}

.star-rating i {
    font-size: 14px;
    color: #ffdc12;
}

/*****************************************/
/*----  Main Style  ----*/
#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}

    #cards_landscape_wrap-2 .card-flyer .image-box {
        background: var(--bgdark);
        overflow: hidden;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
    }

        #cards_landscape_wrap-2 .card-flyer .image-box img {
            -webkit-transition: all .9s ease;
            -moz-transition: all .9s ease;
            -o-transition: all .9s ease;
            -ms-transition: all .9s ease;
            width: 100%;
            height: 200px;
        }

    #cards_landscape_wrap-2 .card-flyer:hover .image-box img {
        opacity: 0.7;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
    }

    #cards_landscape_wrap-2 .card-flyer .text-box {
        text-align: center;
    }

        #cards_landscape_wrap-2 .card-flyer .text-box .text-container {
            padding: 30px 18px;
        }

#cards_landscape_wrap-2 .card-flyer {
    background: var(--bgdark);
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

    #cards_landscape_wrap-2 .card-flyer:hover {
        box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        margin-top: 50px;
    }

    #cards_landscape_wrap-2 .card-flyer .text-box p {
        /* margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px; */
        color: var(--txtactive);
    }

    #cards_landscape_wrap-2 .card-flyer .text-box h6 {
        font-weight: bold;
        color: #00acc1;
    }

/**********footer*******************************************************/
.bgfooter {
  background-image: url("../img/pages/foot.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

footer .nav .nav-item .text-dark {
  color: var(--txtactive) !important;
}

.bgfooter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--footercolor);
  z-index: -1;
}



























/*---------signup-step-------------*/
.bg-color {
    background-color: #333;
}


.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 74%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #005C4B;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #005C4B;
    font-weight: 500;
    border: 1px solid #ddd;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #005C4B;
    color: #fff;
    border-color: #005C4B;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

.wizard .nav-tabs > li.active > a i {
    color: #005C4B;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #005C4B;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

    .wizard .nav-tabs > li a i {
        position: absolute;
        top: -15px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 700;
        color: #b9b9b9;
    }

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}

.prev-step,
.next-step {
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.next-step {
    background-color: #005C4B;
    color: #fff;
}

.skip-btn {
    background-color: #cec12d;
}

.step-head {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.term-check {
    font-size: 14px;
    font-weight: 400;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

    .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: 38px;
        padding: .375rem .75rem;
        line-height: 2;
        color: #495057;
        content: "Browse";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 .25rem .25rem 0;
    }

.footer-link {
    margin-top: 30px;
}


.list-box {
    padding: 10px;
}

.signup-logo-header .logo_area {
    width: 200px;
}

.signup-logo-header .nav > li {
    padding: 0;
}

.signup-logo-header .header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-inline li {
    display: inline-block;
}




@media (max-width: 767px) {
    .sign-content h3 {
        font-size: 40px;
    }

    .wizard .nav-tabs > li a i {
        display: none;
    }

    .signup-logo-header .navbar-toggle {
        margin: 0;
        margin-top: 8px;
    }

    .signup-logo-header .logo_area {
        margin-top: 0;
    }

    .signup-logo-header .header-flex {
        display: block;
    }
}


.btn-success {
    background-color: #005C4B;
    color: #fff;
}

    .btn-success:hover {
        color: #fff;
        background-color: #005C4B;
        border-color: #005C4B;
    }
























/***********************profile page****************************************/


/* Profile sidebar */
.profile-sidebar {
    background: var(--bgdark);
}

.circle {
    border-style: 1px solid;
    border-radius: 50%;
    width: 200px !important;
    height: 200px !important;
    box-shadow: -1px 0px 12px 2px #b0b0b08c;
}

.ulborder .nav-item .nav-link {
    color: var(--secondery) !important;
}

.ulborder .nav-item {
    border-bottom: 0.2px solid #9ba88931;
    width: 100%;
    padding-right: 80px;
}

    .ulborder .nav-item:last-child {
        border-bottom: none;
    }

    .ulborder .nav-item a:hover {
        color: var(--txtactive);
    }

    .ulborder .nav-item.active {
        border-bottom: none;
        background-color: #ffdead4d;
        border-right: 4px solid var(--orange);
    }

.profile-stat {
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px solid #9ba88931;
    border-top: 1px solid #9ba88931;
    margin-left: 0px;
    margin-right: 0px;
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-decoration: none;
}

.profile-stat-text {
    color: #7f90a4;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.profile-pic {
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

    .profile-pic img {
        position: absolute;
        object-fit: cover;
        width: 200px;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
        border-radius: 100px;
        z-index: 0;
    }

    .profile-pic .-label {
        height: 200px;
        width: 200px;
        border-radius: 50% !important;
    }

    .profile-pic:hover .-label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .8);
        z-index: 5;
        color: #fafafa;
        transition: 0.2s ease-in-out;
    }

.profile-content {
    background: var(--bgdark);
    width: 100%;
    height: 100%;
    overflow: auto !important;
}

a:hover {
    color: var(--litegreen);
}

.borderbottom {
    border-bottom: 4px solid #A9A59F;
}

.form-control {
    background-color: var(--form);
    color: var(--txtactive);
    border: 1px solid #a6a6a691;
}

    .form-control:disabled, .form-control[readonly] {
        background-color: var(--bgwhite);
    }

    .form-control:focus {
        color: var(--txtactive);
        background-color: var(--bgwhite);
        border-color: var(--green);
        outline: 0;
        box-shadow: none;
    }



    /***index *****/
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--txtactive);
    vertical-align: top;
    border-color: #dee2e6;
}




























.wrapper {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.image-gallery {
    margin: 0 auto;
    display: table;
}

.primary, .thumbnails {
    display: table-cell;
}

.thumbnails {
    width: 300px;
}

.primary {
    width: 600px;
    height: 400px;
    background-color: #cccccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail-image, .selected .thumbnail-image {
    border: 4px solid red;
}

.thumbnail-image {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid transparent;
}



