@import url("../bootstrap/font/bootstrap-icons.css");

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../font/SLXGc1nY6HkvalIkTpu0xg.woff2') format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}



:root,
:root.light {
    --green: #2a5555 !important;
    /* --green: #0f4f54 !important; */
    --bgwhite: #f6f6f6 !important;
    --txtwhite: #f1f1f1 !important;
    --txtactive: #111;
    --contact: rgb(255, 255, 255);
    --grendark: #0f4f54;
    --bgsec: #eeeeeed4;
    --litegreen: #9ba889 !important;
    --textnav: #f1f1f1 !important;
    --bgcolor2: #d7d7d7;
    --bgdark: #fff !important;
    --orange: #d46300;
    --navcolor: chocolate;
    --navcolorhover: rgb(255, 255, 255);
    --navbghover: chocolate;
    --colorscrolbar: #a6bad9;
    --footercolor: #9ba88989;
    --bg-color: #fff;
    --text-color: #123;
    --orange2: navajowhite;
    --secondery: #585757;
    --form: #fff;
}

    :root.dark {
        --green: #15202b !important;
        --bgwhite: #1d2a35 !important;
        --txtactive: #ffffff;
        --orange: #d46300;
        --orange2: navajowhite;
        --contact: var(--green);
        --grendark: #0f4f54;
        --litegreen: var(--litegreen);
        --bgdark: #15202b !important;
        --bgsec: #15202b;
        --footercolor: #00000089;
        --secondery: #d5d5d5;
        --form: #1d2a35;
    }


* {
  font-family: Cairo;
  direction: rtl;
}

html {
  height: 100%;
}


.text-white {
  color: var(----txtwhite);
}

.bg-white {
  background: var(--bgwhite)
}

body {
  background: var(--bgwhite);
  color: var(--txtactive);
  height: 100%;
  position: relative;
}

/***************************************** start header **************************/
/*****************land*******************************************/

video.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../assets/img/bg-mobile-fallback.jpg") #2a5555 no-repeat center center scroll;
    background-size: cover;
  }

  body video {
    display: none;
  }
}

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 74%);
}

.masthead .masthead-content {
  position: relative;
  max-width: 50rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    min-height: 0;
    padding-bottom: 0;
  }

  .masthead:before {
    transform: skewX(19deg);
    transform-origin: top left;
  }

  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 9rem;
  }
}

@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}

.social-icons {
  position: relative;
  z-index: 2;
}

.social-icons .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100rem;
}

@media (min-width: 992px) {
  .social-icons {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: auto;
  }
}


/********************navbar************************/
nav {
  background-color: var(--green);
}

.bgcolors {
  background-color: var(--green);
  color: white;
  transition: all 0.2s ease-in-out;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255);
  border-color: rgba(255, 255, 255);
}

.logo {
  width: 120px;
}

.nav .nav-item .nav-link {
  color: var(--textnav);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--textnav);
  padding-bottom: 1px !important;
  margin: 0 2px;
}

.navbar-dark .navbar-nav .nav-link>span:hover {
  border-bottom: 1px solid var(--textnav);
  padding-bottom: 5px;
  transition: 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link .active {
  border-bottom: 1px solid var(--textnav);
  padding-bottom: 5px;
}

.col .nav .nav-item .nav-link .bi-person-bounding-box {
  color: var(--litegreen);
}

.nav .dropdown .dropdown-toggle::after {
  color: var(--litegreen);
}

.dropdown-menu {
  background: var(--green);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: var(--textnav);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bgwhite);
  color: var(--txtactive)
}

nav.black {
  background: #28686dbb !important;
  padding: 0 50px;
  backdrop-filter: blur(1.5rem);
  transition: 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

/*********** dark icons *******************/

.toggle-container {
  position: relative;
}

.theme-btn {
  border-radius: 50%;
  background-color: var(--litegreen);
  border: 0;
  padding: 7px 12px;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}






/***************************** section 1 *******************/
.bgacground {
  background: var(--bgwhite);
  opacity: 85%;
  width: 50%;
}

@media (min-width: 992px) {
  .bgacground {
    background: var(--bgwhite);
    opacity: 85%;
    width: 100%;
  }
}

.btn-search {
  background-color: var(--green);
  color: var(--txtwhite);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #0f4f5467;
}

.rounded-5 {
  border-radius: 1rem !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--orange);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--litegreen);
}
select.form-selectt {
  background-position: left 1.75rem center;
  background-color: var(--bgwhite);
  border: none !important;
  color: var(--orange);
  margin-left: auto;
  margin-right: auto;
}

select:focus-visible {
  outline-offset: 5px;
  outline: none;
}






/*********************************المميزة*********************************/
.game {
  background: var(--bgsec);
  backdrop-filter: blur(0.5rem);
  z-index: -1;
  padding-bottom: 20px;
  border-radius: 1rem;
}

.bg-b {
  color: var(--txtactive);
}

.bg-b:hover {
  background-color: var(--green);
  color: var(--txtwhite);
}

.streamers {
  display: flex;
  text-align: center;
}

.streamers img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.front {
  transition: 200ms;
}

.front>img {
  border-radius: 12px;
  width: 300px !important;
  height: 240px !important;
}

.front .streamers img:nth-child(1) {
  z-index: 1;
  transform: translateX(15px);
}

.front .streamers img:nth-child(2) {
  transform: translateX(10px);
}

.back {
  position: absolute;
  top: 56%;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.game:hover .front {
  transform: translateY(-25%) scale(0.8);
}

.game:hover .front .status {
  opacity: 0;
}

.game:hover .back {
  opacity: 1;
}

.game:hover .back .streamers {
  width: 100%;
  justify-content: space-between;
}

.game:hover .rank {
  top: -35px;
  right: -10px;
}

.game:hover .backgroundWrapper {
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  opacity: 1;
  transform: scale(1.4, 1.2);
}

.rank {
  position: absolute;
  right: 15px;
  font-weight: bold;
  font-size: 1.12rem;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5em 0.5em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: 250ms ease-in-out;
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: 0;
  }

  50% {
    text-align: center;
    opacity: 0;
  }

  100% {
    text-align: center;
    opacity: 1;
  }
}

.checked {
  color: orange;
}

.bgdaeke {
  background-color: var(--bgwhite);
}

/***like**/
.heart {
  font-size: 25px;
  color: #aaa;
}

.heart-des {
  font-size: 25px;
  color: red;
}







/************* section 2 ***************************/
.card-img-top {
  width: 285px !important;
  height: 200px !important;
}

.txtborder {
  color: var(--orange);
  padding: 3px;
  border-bottom: 5px solid var(--orange);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: relative;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bgdark);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}




/**********************3******************************************/
.gradient {
  background-image: linear-gradient(#e5cf9c, #fff, var(--bg-color));
}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.elementor-shape-top svg {
  width: calc(200% + 1.3px);
  height: 300px;
  transform: translateX(-50%) rotateY(180deg);
  fill: #c39c832b;
}

/*************************4**********************************/
.form-check-input:checked {
  background-color: var(--orange);
  border-color: var(--orange);
}

.form-check-input:focus {
  border-color: var(--orange);
  outline: 0;
  box-shadow: none;
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #d463005b;
}

.textsec3 {
  color: var(--txtactive)
}




/*********************************************************/




/**********footer*******************************************************/
.bgfooter {
  background-image: url("../img/pages/foot.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

footer .nav .nav-item .text-dark {
  color: var(--txtactive) !important;
}

.bgfooter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--footercolor);
  z-index: -1;
}

























/***********************profile page****************************************/


/* Profile sidebar */
.profile-sidebar {
  background: var(--bgdark);
}

.circle {
  border-style: 1px solid;
  border-radius: 50%;
  width: 200px !important;
  height:200px !important;
  box-shadow: -1px 0px 12px 2px #b0b0b08c;
}
.ulborder .nav-item .nav-link{
  color:var(--secondery);
}
.ulborder .nav-item {
  border-bottom: 0.2px solid #9ba88931;
  width: 100%;
  padding-right: 80px;
}
.ulborder .nav-item:last-child {
  border-bottom: none;
}

.ulborder .nav-item a:hover {
  color: var(--txtactive);
}

.ulborder .nav-item.active {
  border-bottom: none;
  background-color: #ffdead4d;
  border-right: 4px solid var(--orange);
}

.profile-stat {
  padding-bottom: 20px;
  padding-top: 15px;
  border-bottom: 1px solid #9ba88931;
  border-top: 1px solid #9ba88931;
  margin-left: 0px;
  margin-right: 0px;
}

.profile-stat-title {
  color: #7f90a4;
  font-size: 25px;
  text-decoration:none;
}

.profile-stat-text {
  color: #7f90a4;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.profile-pic {
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease; 
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 200px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
  border-radius: 100px;
  z-index: 0;
}

 .profile-pic .-label {
  height: 200px;
  width: 200px;
  border-radius: 50% !important;
}

.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 5;
  color: #fafafa;
  transition: 0.2s ease-in-out;
} 
.profile-content{
  background: var(--bgdark);
  width: 100%;
  height: 100%;
}

a:hover{
  color:var(--litegreen);
  
}
.borderbottom {
    border-bottom: 4px solid #A9A59F;
}
.form-control {
    background-color: var(--form);
    color: var(--txtactive);
    border: 1px solid #a6a6a691;
}
    .form-control:disabled, .form-control[readonly] {
        background-color: var(--bgwhite);
    }
    .form-control:focus {
        color: var(--txtactive);
        background-color: var(--bgwhite);
        border-color: var(--green);
        outline: 0;
        box-shadow: none;
    }







