
/****************profile****************/


@media only screen and (max-width: 991px) {
    .prf {
        display: flex;
    }
    .active:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid var(--orange) !important;
        border-right: 20px transparent solid !important;
        border-left: 20px transparent solid !important;
        bottom: -40px !important;
        right: 80px !important;
    }
}

.prf .nav-link {
    width: 200px;
    height: 50px;
    background-color: var(--orange2);
    position: relative;
    color: #111;
    border: 2px solid var(--orange);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

    .prf .nav-link.active:hover {
        transition: all .3s;
        background-color: var(--orange);
    }

.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 20px solid var(--orange);
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    left: -20px;
    bottom: 2px;
    transition: all .3s;
}


.shado {
    box-shadow: 1px 1px 13px 2px #8e8e8e;
}





































/*.fa-spin-fast {
    -webkit-animation: fa-spin-fast 0.2s infinite linear;
    animation: fa-spin-fast 0.2s infinite linear;
}

@-webkit-keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(84%);
    margin-bottom: 6.6em;
}

    .material-card h2 {
        position: absolute;
        top: calc(84%);
        left: 0;
        width: 100%;
        padding: 10px 16px;
        color: #fff;
        font-size: 1.4em;
        line-height: 1.6em;
        margin: 0;
        z-index: 10;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

        .material-card h2 span {
            display: block;
        }

        .material-card h2 strong {
            font-weight: 400;
            display: block;
            font-size: 0.8em;
        }

        .material-card h2:before,
        .material-card h2:after {
            content: " ";
            position: absolute;
            left: 0;
            top: -16px;
            width: 0;
            border: 8px solid;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        .material-card h2:after {
            top: auto;
            bottom: 0;
        }

@media screen and (max-width: 767px) {
    .material-card.mc-active {
        padding-bottom: 0;
        height: auto;
    }
}

.material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
}

    .material-card.mc-active h2:before {
        top: 0;
    }

    .material-card.mc-active h2:after {
        bottom: -16px;
    }

.material-card .mc-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card .mc-btn-action {
    position: absolute;
    right: 16px;
    top: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card.mc-active .mc-btn-action {
    top: 62px;
}

.material-card .mc-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}

.material-card .mc-footer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    .material-card .mc-footer h4 {
        position: absolute;
        top: 200px;
        left: 30px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        -webkit-transition: all 1.4s;
        -moz-transition: all 1.4s;
        -ms-transition: all 1.4s;
        -o-transition: all 1.4s;
        transition: all 1.4s;
    }

    .material-card .mc-footer a {
        display: block;
        float: left;
        position: relative;
        width: 52px;
        height: 52px;
        margin-left: 5px;
        margin-bottom: 15px;
        font-size: 28px;
        color: #fff;
        line-height: 52px;
        text-decoration: none;
        top: 200px;
    }

        .material-card .mc-footer a:nth-child(1) {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }

        .material-card .mc-footer a:nth-child(2) {
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            -ms-transition: all 0.6s;
            -o-transition: all 0.6s;
            transition: all 0.6s;
        }

        .material-card .mc-footer a:nth-child(3) {
            -webkit-transition: all 0.7s;
            -moz-transition: all 0.7s;
            -ms-transition: all 0.7s;
            -o-transition: all 0.7s;
            transition: all 0.7s;
        }

        .material-card .mc-footer a:nth-child(4) {
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
            -o-transition: all 0.8s;
            transition: all 0.8s;
        }

        .material-card .mc-footer a:nth-child(5) {
            -webkit-transition: all 0.9s;
            -moz-transition: all 0.9s;
            -ms-transition: all 0.9s;
            -o-transition: all 0.9s;
            transition: all 0.9s;
        }

.material-card .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card.mc-active .img-container {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 12px;
    width: 60px;
    height: 60px;
    z-index: 20;
}

.material-card.mc-active .mc-content {
    padding-top: 5.6em;
}

@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-content {
        position: relative;
        margin-right: 16px;
    }
}

.material-card.mc-active .mc-description {
    top: 50px;
    padding-top: 5.6em;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-description {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 50px 30px 70px 30px;
        bottom: 0;
    }
}

.material-card.mc-active .mc-footer {
    overflow: visible;
    position: absolute;
    top: calc(84%);
    left: 16px;
    right: 0;
    height: 82px;
    padding-top: 15px;
    padding-left: 25px;
}

    .material-card.mc-active .mc-footer a {
        top: 0;
    }

    .material-card.mc-active .mc-footer h4 {
        top: -32px;
    }

.material-card.Red h2 {
    background-color: #0f4f54;
}

    .material-card.Red h2:after {
        border-top-color: #0f4f54;
        border-right-color: #0f4f54;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    .material-card.Red h2:before {
        border-top-color: transparent;
        border-right-color: #9ba889;
        border-bottom-color: #9ba889;
        border-left-color: transparent;
    }

.material-card.Red.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #0f4f54;
    border-bottom-color: #0f4f54;
    border-left-color: transparent;
}

.material-card.Red.mc-active h2:after {
    border-top-color: #9ba889;
    border-right-color: #9ba889;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Red .mc-btn-action {
    background-color: #9ba889;
}

    .material-card.Red .mc-btn-action:hover {
        background-color: #9ba889;
    }

.material-card.Red .mc-footer h4 {
    color: #9ba889;
}

.material-card.Red .mc-footer a {
    background-color: #9ba889;
}

.material-card.Red.mc-active .mc-content {
    background-color: #d7d7d7;
}

.material-card.Red.mc-active .mc-footer {
    background-color: navajowhite;
    ;
}

.material-card.Red.mc-active .mc-btn-action {
    border-color: navajowhite;
    ;
}

body {
    background-color: #eceff1;
    color: #37474f;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-weight: 200;
}*/

/* //////////////////////////////////////////////////////////////////// */

/*.card h1,
.card h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.wrapper {
    overflow: hidden;
}

.card {
    height: 450px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0px;
}

.image {
    background: url("http://media.cleveland.com/business_impact/photo/associated-estates-san-raphael-apartments-dallas-texasjpg-8959a5dfba0d9575.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
}

.a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2a5555;
    opacity: 0.7;
    z-index: 0;
}

.card-body {
    padding: 0px;
}

.image-overlay {
    background: url("http://media.cleveland.com/business_impact/photo/associated-estates-san-raphael-apartments-dallas-texasjpg-8959a5dfba0d9575.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}



.search {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 170px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    transition: width 0.4s;
}

.search-focus {
    width: 45%;
}

@media screen and (max-width: 575px) {
    .search-focus {
        width: 80%;
    }
}

.input-group-text {
    border-radius: 50px;
    padding: 15px;
}

input.pl-5.form-control {
    padding: 23px !important;
}*/

/* .input-group {
} */

/*.form-control {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

span.input-group-text {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da;
}


.mb-6 {
    margin-bottom: 10rem;
}

.me-6 {
    margin-right: 40rem;
}

.ms-6 {
    margin-left: 32rem;
}

.mt-6 {
    margin-top: 12rem;
}

.bg-whitee {
    background-color: rgba(255, 255, 255, 0.514);
    color: #0f4f54;
}*/
