@model GP.Models.InformationGen

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"  style="color: #0f4f54">المعلومات العامة</h1>
<hr />

<div class="row">
    <div class="">
         <a class="btn btn-outline-green  mb-5  mt-2 px-5 fw-bold fs-5" onclick="OpenForm()">تعديل</a>

        <form asp-action="Index" class="w-50 mx-auto border-3 shadow-lg p-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


           
            
        <h5 class="text-center"  style="color: #0f4f54"> بيانات التواصل </h5>
        <hr />
            <div class="form-group input-group  mt-5 ">
                
                    <span class="input-group-text  " id="basic-addon1">
                       <i class="bi bi-envelope"></i>
                    </span>
              
                <input asp-for="Email" class="form-control input  border-right-0 " aria-describedby = "basic-addon1" placeholder="الإيميل" />
             
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group input-group">
                     <span class="input-group-text  " id="basic-addon2">
                       <i class="bi bi-telephone"></i>
                    </span>
                <input asp-for="Phone" class="form-control input border-right-0" aria-describedby = "basic-addon2" placeholder="رقم الهاتف" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                     <span class="input-group-text  " id="basic-addon3">
                       <i class="bi bi-facebook"></i>
                    </span>
                <input asp-for="UrlFacebook" class="form-control input border-right-0" aria-describedby = "basic-addon3" placeholder="رابط فيسبوك" />
                <span asp-validation-for="UrlFacebook" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                     <span class="input-group-text  " id="basic-addon4">
                       <i class="bi bi-twitter"></i>
                    </span>
                <input asp-for="UrlTwitter" class="form-control input border-right-0" aria-describedby = "basic-addon4" placeholder="رابط تويتر" />
                <span asp-validation-for="UrlTwitter" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                     <span class="input-group-text  " id="basic-addon5">
                       <i class="bi bi-instagram"></i>
                    </span>
                <input asp-for="UrlInstegrame" class="form-control input border-right-0" aria-describedby = "basic-addon5" placeholder="رابط انستقرام" />
                <span asp-validation-for="UrlInstegrame" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group ">
                <input type="submit" value="حفظ" class="btn btn-outline-green" />
            </div>
            <br />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('.input').attr("Disabled", true);
    });
    function OpenForm() {
        $('.input').attr("Disabled", false);
    }
    $('form').on("submit", function () {
        var data = $('form').serialize();
        $.ajax({
            url: "/Admin/InformationGen/SaveInformation",
            method: "GET",
            data: data,
            success: function () {
                $('.input').attr("Disabled", true);
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'تم التعديل بنجاح',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        });
    });
</script>
}
