@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "تغيير كلمة المرور";
    if (User.IsInRole("Owner"))
    {
        Layout = "_Layout.cshtml";
    ViewData["ActivePage"] = ManageNavPages.Index; 


    }

    else if (User.IsInRole("User"))
    {
            Layout = "_Layout - User.cshtml";
    ViewData["ActivePage"] = ManageNavPages.IndexPersonalUser;

    }
}

@*<h4>@ViewData["Title"]</h4>*@
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row ">
    <div class="col-12 p-4">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword">كلمة المرور الحالية</label>
                <input asp-for="Input.OldPassword" class="form-control rounded-pill" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword">كلمة المرور الجديدة</label>
                <input asp-for="Input.NewPassword" class="form-control rounded-pill" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">تأكيد كلمة المرور</label>
                <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center"><button type="submit" class="btn btn-success text-center rounded-pill">تعديل كلمة المرور</button></div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}