@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    
      
    
     
      
    
       
}






<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />


 <div class="col-lg-12  order-content">
      <div class="form_main  col-12">
                    <h4 class="heading"> البيانات  <strong> الشخصية   </strong>   <span></span></h4>
                   <div class="form">
     <form id="profile-form" method="post" enctype="multipart/form-data">
         <div class="row">
           <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled class="txt" />
                </div>
                  </div>
                      <div class="col-12">
                 <div class="form-group">
                    <label asp-for="Input.fristName"></label>
                    <input asp-for="Input.fristName" class="form-control" class="txt" />
                    <span asp-validation-for="Input.fristName" class="text-danger"></span>
                </div>

                 </div>

                 <div class="col-12">
                  <div class="form-group">
                    <label asp-for="Input.lastName"></label>
                    <input asp-for="Input.lastName" class="form-control"  class="txt"/>
                    <span asp-validation-for="Input.lastName" class="text-danger"></span>
                </div>
                 </div>
                    <div class="col-12">
                  <div class="form-group">
                    <label asp-for="Input.description"></label>
                    <textarea asp-for="Input.description" class="form-control" rows="6" maxlength="200" class="txt"></textarea>
                    <span asp-validation-for="Input.description" class="text-danger"></span>
                </div>
                </div>
                <div class="col-lg-5 col-12">
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" class="txt"/>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                 </div>
                    <div class="col-lg-5 col-12">
                <div class="form-group">
                    <label asp-for="Input.face"></label>
                    <input asp-for="Input.face" class="form-control" class="txt"/>
                    <span asp-validation-for="Input.face" class="text-danger"></span>
                </div>
                 </div>
                    <div class="col-lg-5 col-12">
                <div class="form-group">
                    <label asp-for="Input.twitter"></label>
                    <input asp-for="Input.twitter" class="form-control" class="txt"/>
                    <span asp-validation-for="Input.twitter" class="text-danger"></span>
                </div>
                 </div>
                    <div class="col-lg-5 col-12">
                <div class="form-group">
                    <label asp-for="Input.insta"></label>
                    <input asp-for="Input.insta" class="form-control" class="txt"/>
                    <span asp-validation-for="Input.insta" class="text-danger"></span>
                </div>
                 </div>

                 <div class="col-lg-5 col-12">
                <div class="form-group">
                    <label asp-for="Input.ContactNumber"></label>
                    <input asp-for="Input.ContactNumber" class="form-control" class="txt"/>
                    <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
                </div>
                 </div>
                 <div class="col-12">
                 <div class="custom-file mt-2"hidden>
                        <input type="file" 
                        accept="image/*"
                        asp-for="Input.ProfilePicture"
                        class="custom-file-input"
                        onchange="document.getElementById('prof').src=window.URL.createObjectURL(this.files[0])"
                        />
                        <label class="custom-file-label"  asp-for="Input.ProfilePicture">Choose Picture ..... </label>
                   <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                   </div>
                    </div>

                <div class="col-lg-5 col-12">
                <button id="update-profile-button" type="submit" class="btn btn-primary btn1">Save</button>
                    <div class="nav-item"><a class="nav-link btn btn-primary @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></div>


     </div>
  </div>
   
  </div>

         

   
    </form>
    </div>
       </div>
          </div>
   



@section Scripts {
    <partial name="_ValidationScriptsPartial" />


      <script src="~/assetsSaja/js/Provile.js"></script>


}