
@inject SignInManager<AppUser> SignInManager;
@inject UserManager<AppUser> UserManager;
@{ 
    AppUser user = await UserManager.GetUserAsync(User);
}
<link href="~/css/Chat2.css" rel="stylesheet"/>



 <div class="container h-100 " >
    <div id="messages-main">
      <div class="ms-menu">
        <div class="ms-user d-flex align-items-center">
          <input type="text"  class="form-control mx-2">
          <i class="bi bi-search fw-bold"></i>
        </div>
        <div id="Users" class="list-group">

        </div>


      </div>

      <div  class="ms-body">
          <div id="Image" class="container " style="display: flex;justify-content: center;">
              <img src="/images/Chat.gif" class="img-fluid "  />
          </div>
        
        <div id="Header"   class="action-header  d-flex justify-content-between">
          
        </div>
        <div id="Messages"  class="" style="height: 300px!important; overflow:auto;">
            
        </div>
        <div class="msb-reply">
          <textarea id="txtInput" class="fs-6" placeholder="اكتب رسالتك هنا....."></textarea>
          <button id="btnSend"   style="transform: rotate(270deg);border: none;"><i class="bi bi-send-fill "></i></button>
          <input id="txtId" type="text" hidden />
         <input id="txtIdUserCurrent" value="@ViewBag.CurrentUserName" type="text" hidden />
        </div>
      </div>
      
    </div>
  </div>



@section Scripts {
    @(await Html.PartialAsync("_ValidationScriptsPartial"));
 

        
  <script type="text/javascript">
//$(document).ready(function() {
    $("#Messages").addClass("d-none");
    $("#Header").addClass("d-none");
//});
    $(function () {
      if ($('#ms-menu-trigger')[0]) {
        $('body').on('click', '#ms-menu-trigger', function () {
          $('.ms-menu').toggleClass('toggled');
        });
      }
    });
  </script>
  
}
