
@inject SignInManager<AppUser> SignInManager;
@inject UserManager<AppUser> UserManager;
@{ 
    AppUser user = await UserManager.GetUserAsync(User);
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Admin/css/Chat.css" rel="stylesheet" />
<div class="container m-5">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul id="Users" class="list-unstyled chat-list mt-2 mb-0">
                    

                    </ul>
                </div>
                <div class="chat">
                    <div id="CurrentUserHeader" class="chat-header clearfix">
                        <div class="row">
                            
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul id="Messages"class="m-b-0 chatText d-grid">

                            
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <button id="btnSend" class="btn btn-outline-primary">Send</button>
                            </div>

                            <input id="txtId" type="text" hidden />
                            <input id="txtIdUserCurrent" value="@ViewBag.CurrentUserName" type="text" hidden />
                            <input id="txtInput" type="text" class="form-control" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @(await Html.PartialAsync("_ValidationScriptsPartial"));
 
    
}
