@model List<Estate>
<style>
    header{
      position: absolute;z-index: 100000;
    }
    nav {
  background-color: rgba(17, 17, 17, 0);


} 
.bg-video{
    width: 100%;
    height: 300px;
}
 .bg-video:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #2a5555;
      opacity: 0.7;
      z-index: 0;
    }
    .padingtops{
        padding-top:100px;
        background-color:#000;
    }
  </style> 
    <div class="bg-video position-absolute overflow-hidden"> 
     <video class="overflow-hidden " playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
      <source src="~/indexLayout/assets/img/pages/bg.mp4" type="video/mp4" />
    </video>

  </div>
<div class="container-fluid pt-5 mb-5" >
    <div class="row text-center padingtops">
        <p class="fs-4 text-white animated wow fadeInDown">ابحث عن العقار الأنسب لك </p> 
        <h1 class="fs-1 text-white animated wow fadeInDown">عقارات -  @ViewBag.CategoryName </h1>
    </div>
  </div>



  <section class="mb-5">
    <div class="container">
      <div data-view="list-view" class="download-cards">

            @if (Model is not null)
                @foreach (var item in Model)
                { 
                    <article class="download-card" data-aos="fade-down">

                  <div class="download-card__icon-box">
                    <img src="/images/Estate/@item.Main_photo" class="img-fluid" />
                    <div class="bottomright">بيع</div>
                  </div>
                  <div class="content text-end">
                    <div class="d-flex justify-content-between titleral">
                      <h3> @item.name </h3>
                      <a href="/commments/EstateComment/@item.Id" class="rounded-5 p-2 bg-b mx-3">انقر التفاصيل </a>
                    </div>
                    <p class="pt-2"><i class="bi bi-geo-alt"></i>@item.State.name -@item.City.name</p>
                    <p class="p"> @item.description </p>

                    <div class="d-flex justify-content-between align-items-center pt-3">
                      <div class=" d-flex align-items-center">
                        <img class="img-fluid text-right rounded-circle" style="width: 50px;height: 50px;"
                          src="assets/img/pages/bg-mobile-fallback.jpg">
                        <div class="pe-3">
                          <a href="" class="mb-0 titleral">
                            مالك العقار: سوار صيام
                          </a>
                          <p class="mb-0 text-secondary">تاريخ الاضاقة : 24/7/2021</p>

                        </div>
                      </div>
                      <p class="m-0"><i class="heart bi bi-heart-fill ms-5"></i></p>
                    </div>
                  </div>
                </article>
        }


      </div>
    </div>
  </section>
  

