    <style>
        header{
            padding: 0 !important;
        }
    </style>
    <section class="py-5 py-md-2">
        <div class="sect">
            <div class="bgacground rounded-5 w-50 mx-auto p-3 py-4 animated wow fadeInUp">
                <div class="row justify-content-between align-items-center " >
                  <div class="col-lg-2 col-md-6 col-12 d-flex flex-column align-items-center ">
                    <h5>النوع</h5>
                    <select class="form-selectt" aria-label="Default select example">
                      <option selected>ِِشقة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-md-6 col-12 d-flex flex-column align-items-center">
                    <h5>التصنيف </h5>
                    <select class="form-selectt" aria-label="Default select example">
                      <option selected>ِِشقة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-md-6 col-12 d-flex flex-column align-items-center">
                    <h5>الدولة</h5>
                    <select class="form-selectt" aria-label="Default select example">
                      <option selected>ِِشقة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-md-6 col-12 d-flex flex-column align-items-center">
                    <h5>المدينة</h5>
                    <select class="form-selectt" aria-label="Default select example">
                      <option selected>ِِشقة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-lg-2 col-12">
                    <button class="btn btn-search px-3 py-2 rounded-5"><i class="bi bi-search"></i></button>
                  </div>
                </div>
              </div>
        </div>        
    </section>

    <section>
        <div class="container text-end">
            <div class="switcher">
                <button data-trigger="grid-view" class="bi bi-grid-3x2-gap-fill"></button>
                <button data-trigger="list-view" class="active bi bi-view-list"></button>
            </div>
            <div data-view="list-view" class="download-cards">


                <article class="download-card">

                    <div class="download-card__icon-box">
                        <img src="assets/img/pages/1.png" class="img-fluid" />
                        <div class="bottomright">بيع</div>
                    </div>
                    <div class="content">
                        <a class="titleral" href="">
                            <h3> عنوان العقار </h3>
                        </a>
                        <p class="pt-2"><i class="bi bi-geo-alt"></i>فلسطين - غزة - شارع النخيل</p>
                        <p class="p"> وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف العقار وصف
                            العقار </p>

                        <div class="d-flex justify-content-between align-items-center pt-3">
                            <div class=" d-flex align-items-center">
                                <img class="img-fluid text-right rounded-circle" style="width: 50px;height: 50px;"
                                    src="assets/img/pages/bg-mobile-fallback.jpg">
                                <div class="pe-3">
                                    <a href="" class="mb-0 titleral">
                                        مالك العقار: سوار صيام
                                    </a>
                                    <p class="mb-0 text-secondary">تاريخ الاضاقة : 24/7/2021</p>

                                </div>
                            </div>
                            <p class="m-0"><i class="heart bi bi-heart-fill ms-5"></i></p>
                        </div>
                    </div>
                </article>




                <article class="download-card">
                    <div class="download-card__icon-box"><img src="assets/img/pages/about.png" class="img-fluid" />
                        <div class="bottomright">بيع</div>
                    </div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">Tool Safety Catalogues</h3>
                        <p class="download-card__content-box__description">Print and web ready PDF's. </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
                <article class="download-card">
                    <div class="download-card__icon-box">
                        <img src="assets/img/pages/bg-mobile-fallback.jpg" class="img-fluid" />
                        <div class="bottomright">ايجار</div>
                    </div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">Photos</h2>
                        <h3 class="download-card__content-box__title">Height Safety Products</h3>
                        <p class="download-card__content-box__description">High & low-res photos for print and web
                            media. </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
                <article class="download-card">
                    <div class="download-card__icon-box"><img src="assets/img/pages/foot.png" class="img-fluid" /></div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">Document</h2>
                        <h3 class="download-card__content-box__title">Course Booking Form</h3>
                        <p class="download-card__content-box__description">Word document </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
                <article class="download-card">
                    <div class="download-card__icon-box"><img src="assets/img/pages/home-3 - Copy.png"
                            class="img-fluid" /></div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">Photos</h2>
                        <h3 class="download-card__content-box__title">Height Safety Products</h3>
                        <p class="download-card__content-box__description">High & low-res photos for print and web
                            media. </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
                <article class="download-card">
                    <div class="download-card__icon-box"><img src="assets/img/pages/land.jpg" class="img-fluid" /></div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">Photos</h2>
                        <h3 class="download-card__content-box__title">Height Safety Products</h3>
                        <p class="download-card__content-box__description">High & low-res photos for print and web
                            media. </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
                <article class="download-card">
                    <div class="download-card__icon-box"><img src="assets/img/pages/home-3.png" class="img-fluid" />
                    </div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">Photos</h2>
                        <h3 class="download-card__content-box__title">Height Safety Products</h3>
                        <p class="download-card__content-box__description">High & low-res photos for print and web
                            media. </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
                <article class="download-card">
                    <div class="download-card__icon-box"><img src="assets/img/pages/home1.jpg" class="img-fluid" />
                    </div>
                    <div class="content">
                        <h2 class="download-card__content-box__catagory">Photos</h2>
                        <h3 class="download-card__content-box__title">Height Safety Products</h3>
                        <p class="download-card__content-box__description">High & low-res photos for print and web
                            media. </p>
                        <a class="button"> <i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
       


       @*  <ul  id="pagination" class="pagination ">
  
        </ul>
*@
     
      @section Scripts{

          <script>
              

var downloadGrid = (function () {

    "use strict";
    var $cardContainer = $('.download-cards');
    var $downloadCard = $('.download-card__content-box');
    var $viewTrigger = $('button').attr('data', 'trigger');

    function swapTriggerActiveClass(e) {
        $viewTrigger.removeClass('active');
        $(e.target).addClass('active');
    }

    function swapView(e) {
        var $currentView = $(e.target).attr('data-trigger');
        $cardContainer.attr('data-view', $currentView);
    }

    $(document).ready(function () {
        // Event Listener
        $viewTrigger.click(function (e) {
            swapTriggerActiveClass(e);
            swapView(e);
        });
    });

})();
              </script>
    <script type="text/javascript">
$(document).ready(function() {
    localStorage.setItem("pageNumberHouse","1");
    $.ajax({
            method: 'Get',
            url: `/api/ApiEstate/GetHouses`,
            success: function (estate) {
                var pages = "";
                pages += `<li  class="page-item"><span onclick="Previous()" class="page-link">Previous</span></li>`;
                if (estate.pages >= 7) {
                    for (var x = 1; x < 8; x++) {

                        pages += ` <li  class="page-item "><a class="page-link" onClick="GetDataPage(${x},this)">${x}</a></li>`;
                    }

                     pages += ` <li  class="page-item"><a class="page-link" onClick="GetDataPage(${estate.pages},this)">${estate.pages}</a></li>`
                } else {
                     for (var x = 1; x < estate.pages+1; x++) {
                        pages += ` <li  class="page-item last"><a class="page-link" onClick="GetDataPage(${x},this)">${x}</a></li>`;
                    }
                }
                pages += `<li  class="page-item"><span onclick="Next()" class="page-link">Next</span></li>`;
                $("#pagination").html(pages);

                var text = "";
                for (var i = 0; i < estate.data.length; i++) {
                    text += `<div class="col-12 col-md-6 col-lg-3 " data-aos="zoom-in-left">
                <div class="game px-2">
                <div class="rank"><span class="bi bi-star checked"></span></div>
                <div class="front">
                  <img src="${estate.data[i].main_photo}" class="img-fluid" alt="game">
                  <div>
                    <h3 class="text-center py-3">${estate.data[i].name}</h3>
                  </div>
                  <div class="status d-flex justify-content-between align-items-center">
                    <span>${estate.data[i].likes}</span>
                    <span class="bi bi-star checked"></span>
                  </div>
                </div>
                <div class="back">
                  <div class="streaming-info">
                    <div class="game-stat  text-center">
                      <b>  السعر:  ${estate.data[i].price} ${estate.data[i].currency.currency} </b> <br/> <b> ${estate.data[i].city.name} المدينة  </b><br/> <b>الدولة${estate.data[i].state.name}  </b>
                      
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <a href="#" class="rounded-5 p-2 bg-b mx-3">انقر التفاصيل </a>
                    <i class="heart bi bi-heart-fill mx-3"></i>
                  </div>
                </div>
                <div class="backgroundWrapper"></div>
              </div>
            </div>`;
                }
                $("#Estates").html(text);
            }
 });
});
function GetDataPage(z,el) {
  
    localStorage.setItem("pageNumberHouse",`${z}`);
     $.ajax({
            method: 'Get',
            url: `/api/ApiEstate/GetHouses`,
         data: {pageNumberHouse:z},
            success: function (estate) {
                 
                $(el).parent().attr("aria-current","page");
                var pages = "";
                pages += `<li  class="page-item"><span onclick="Previous()" class="page-link">Previous</span></li>`;
                if (estate.pages >= 7) {
                    for (var x = 1; x < 8; x++) {
                       if (x == z) {
                              pages += ` <li  class="page-item active"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                         }else{
                              pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                         }
                    }

                     pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${estate.pages})">${estate.pages}</a></li>`
                } else {
                     for (var x = 1; x < estate.pages+1; x++) {
                         if (x == z) {
                              pages += ` <li  class="page-item active"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                         }else{
                              pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                         }
                       
                    }
                }
                pages += `<li  class="page-item"><span onclick="Next()" class="page-link">Next</span></li>`;
                $("#pagination").html(pages);

                var text = "";
                for (var i = 1; i < estate.data.length; i++) {
                    text += `
                    rftghjdkl,as
                    edfgywhlknjasxm
                    <div class="col-12 col-md-6 col-lg-3 " data-aos="zoom-in-left">
                <div class="game px-2">
                <div class="rank"><span class="bi bi-star checked"></span></div>
                <div class="front">
                  <img src="${estate.data[i].main_photo}" class="img-fluid" alt="game">
                  <div>
                    <h3 class="text-center py-3">${estate.data[i].name}</h3>
                  </div>
                  <div class="status d-flex justify-content-between align-items-center">
                    <span>${estate.data[i].likes}</span>
                    <span class="bi bi-star checked"></span>
                  </div>
                </div>
                <div class="back">
                  <div class="streaming-info">
                    <div class="game-stat  text-center">
                      <b>  السعر:  ${estate.data[i].price} ${estate.data[i].currency.currency} </b> <br/> <b> ${estate.data[i].city.name} المدينة  </b><br/> <b>الدولة${estate.data[i].state.name}  </b>
                      
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <a href="#" class="rounded-5 p-2 bg-b mx-3">انقر التفاصيل </a>
                    <i class="heart bi bi-heart-fill mx-3"></i>
                  </div>
                </div>
                <div class="backgroundWrapper"></div>
              </div>
            </div>`;
                }
                $("#Estates").html(text);
               
            }
            
 });

}
function Next() {
   
    var value = localStorage.getItem("pageNumberHouse");
    var num = parseInt(value);
    num += 1;
    
    localStorage.setItem("pageNumberHouse",`${num}`);
    $.ajax({
        method: 'Get',
        url: `/api/ApiEstate/GetHouses`,
        data: { pageNumber: num },
        success: function(estate) {


            var pages = "";
            pages += `<li  class="page-item"><span onclick="Previous()" class="page-link">Previous</span></li>`;
            if (estate.pages >= 7) {
                
                for (var x = 1; x < 8; x++) {
                    if (x == num) {
                        pages += ` <li  class="page-item active"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    } else {
                        pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    }
                }

                pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${estate.pages})">${estate.pages}</a></li>`
            } else {
                for (var x = 1; x < estate.pages + 1; x++) {
                    if (x == num) {
                        pages += ` <li  class="page-item active"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    } else {
                        pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    }

                }
            }
            if (estate.pages == num) {
                pages += ` <li  class="page-item disabled" ><span onclick="Next()" class="page-link">Next</span></li>`;
            } else {
                pages += ` <li  class="page-item" ><span onclick="Next()" class="page-link">Next</span></li>`;
            }
            
            $("#pagination").html(pages);

            var text = "";
            for (var i = 1; i < estate.data.length; i++) {
                text += `<div class="col-12 col-md-6 col-lg-3 " data-aos="zoom-in-left">
                <div class="game px-2">
                <div class="rank"><span class="bi bi-star checked"></span></div>
                <div class="front">
                  <img src="${estate.data[i].main_photo}" class="img-fluid" alt="game">
                  <div>
                    <h3 class="text-center py-3">${estate.data[i].name}</h3>
                  </div>
                  <div class="status d-flex justify-content-between align-items-center">
                    <span>${estate.data[i].likes}</span>
                    <span class="bi bi-star checked"></span>
                  </div>
                </div>
                <div class="back">
                  <div class="streaming-info">
                    <div class="game-stat  text-center">
                      <b>  السعر:  ${estate.data[i].price} ${estate.data[i].currency.currency} </b> <br/> <b> ${estate.data[i].city.name} المدينة  </b><br/> <b>الدولة${estate.data[i].state.name}  </b>
                      
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <a href="#" class="rounded-5 p-2 bg-b mx-3">انقر التفاصيل </a>
                    <i class="heart bi bi-heart-fill mx-3"></i>
                  </div>
                </div>
                <div class="backgroundWrapper"></div>
              </div>
            </div>`;
            }
            $("#Estates").html(text);

        }

    });
}
function Previous () {
     var value = localStorage.getItem("pageNumberHouse");
    var num = parseInt(value);
    num -= 1;
    
    localStorage.setItem("pageNumberHouse",`${num}`);
    $.ajax({
        method: 'Get',
        url: `/api/ApiEstate/GetHouses`,
        data: { pageNumber: num },
        success: function(estate) {


            var pages = "";
            if (num == 0) {
                pages += `<li  class="page-item disabled"><span onclick="Previous()" class="page-link">Previous</span></li>`;

            } else {
                pages += `<li  class="page-item"><span onclick="Previous()" class="page-link">Previous</span></li>`;

            }
            if (estate.pages >= 7) {
                
                for (var x = 1; x < 8; x++) {
                    if (x == num) {
                        pages += ` <li  class="page-item active"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    } else {
                        pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    }
                }

                pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${estate.pages})">${estate.pages}</a></li>`
            } else {
                for (var x = 1; x < estate.pages + 1; x++) {
                    if (x == num) {
                        pages += ` <li  class="page-item active"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    } else {
                        pages += ` <li  class="page-item"><a class="page-link" onclick="GetDataPage(${x})">${x}</a></li>`;
                    }

                }
            }
            if (estate.pages == num) {
                pages += ` <li  class="page-item"><span onclick="Next()" class="page-link">Next</span></li>`;
            } else {
                pages += ` <li  class="page-item" disabled><span onclick="Next()" class="page-link">Next</span></li>`;
            }
            
            $("#pagination").html(pages);

            var text = "";
            for (var i = 1; i < estate.data.length; i++) {
                text += `<div class="col-12 col-md-6 col-lg-3 " data-aos="zoom-in-left">
                <div class="game px-2">
                <div class="rank"><span class="bi bi-star checked"></span></div>
                <div class="front">
                  <img src="${estate.data[i].main_photo}" class="img-fluid" alt="game">
                  <div>
                    <h3 class="text-center py-3">${estate.data[i].name}</h3>
                  </div>
                  <div class="status d-flex justify-content-between align-items-center">
                    <span>${estate.data[i].likes}</span>
                    <span class="bi bi-star checked"></span>
                  </div>
                </div>
                <div class="back">
                  <div class="streaming-info">
                    <div class="game-stat  text-center">
                      <b>  السعر:  ${estate.data[i].price} ${estate.data[i].currency.currency} </b> <br/> <b> ${estate.data[i].city.name} المدينة  </b><br/> <b>الدولة${estate.data[i].state.name}  </b>
                      
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <a href="#" class="rounded-5 p-2 bg-b mx-3">انقر التفاصيل </a>
                    <i class="heart bi bi-heart-fill mx-3"></i>
                  </div>
                </div>
                <div class="backgroundWrapper"></div>
              </div>
            </div>`;
            }
            $("#Estates").html(text);

        }

    });
}
function AddLike(Id,el) {
   
      $.ajax({
            method: 'Get',
            url: `/Estate/AddLikes/${Id}`,

            success: function (count) {
   $(el).children("span").text(count);
            }
 });
}   

         
        
    </script>
    
}