@{ ViewData["Title"] = "أملاك الصفحة الرئيسية"; }

<section class="land">
    <div class="container-fluid  mb-5 background ">
        <div class="row   text-center  pt-10">
            <h1 class="   cent2 animate2  position-absolute text-white mb-4">ابحث عن العقار الأنسب لك </h1>
            <h4 class=" cent1  animate1 text-white">لديك الفرصة لوضع عقارك</h4>


            <div class=" animate   bg-white rounded rounded-5 opacity-75  w-50 p-5 mt  my-lg-1  my-sm-5  cent  ">
                <div class="row text-center">

                    <div class="col-xxl-2 col-sm-6 col-12  mb-xxl-3 mb-sm-5  boress  d-inline-block  my  d-flex flex-column justify-content-between">
                        <h5>النوع</h5>
                        <div id="navbarNavDarkDropdown">
                            <ul class="navbar-nav pe-0">
                                <li class="nav-item dropdown  text-dark">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        شقة
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>-
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-sm-6 col-12 mb-xxl-3 mb-sm-5  boress d-inline-block my  d-flex flex-column justify-content-between">
                        <h5>التصنيف </h5>
                        <div id="navbarNavDarkDropdown ">
                            <ul class="navbar-nav pe-0">
                                <li class="nav-item dropdown text-dark">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        شقة
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>-
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-sm-6  col-12 mb-xxl-3 mb-sm-5 boress d-inline-block my  d-flex flex-column justify-content-between">
                        <h5>الدولة</h5>
                        <div id="navbarNavDarkDropdown">
                            <ul class="navbar-nav pe-0">
                                <li class="nav-item dropdown text-dark">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        شقة
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>-
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-sm-6 col-12  mb-xxl-3 mb-sm-5 boress d-inline-block   my  d-flex flex-column justify-content-between">
                        <h5>المدينة</h5>
                        <div id="navbarNavDarkDropdown">
                            <ul class="navbar-nav pe-0">
                                <li class=" nav-item dropdown text-dark">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        شقة
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>-
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-6 d-flex flex-column pos my  me-5 mt-2  justify-content-center"> <button class="btn btn-outline-success rounded rounded-5  ">بحث</button> </div>




                </div>

            </div>
        </div>
        <div>

        </div>
    </div>
</section>

<section class="slid">
    <h1 class="text-center text-success"> العقارات الأحدث </h1>
    <h4 class="text-secondary  text-center mb-5">
        أملاك يقدم لك أحدث العقارات  للعثور على العقار الذي تحلم به بسهولة

    </h4>
    <div class="swiper mySwiper mb-5">
        <div class="swiper-wrapper">
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide anmateslid">
                <div class="card" style="width: 20rem;">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
            <div class="swiper-slide">
                <div class="card" style="width: 20rem">
                    <img class="img-fluid card-img-top " src="~/MainLayout/assets//imges/house-1867187_640.jpg">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>

        </div>
        <div class="swiper-pagination mt-3"></div>



    </div>


</section>
<section class="cardss my-5">
    <h1 class="text-center text-success">  التصنيفات </h1>
    <h4 class="text-secondary  text-center mb-5">
        أملاك يقدم لك أحدث العقارات  للعثور على العقار الذي تحلم به بسهولة

    </h4>

    <form class=" mb-5  mx-auto  w-50 d-flex flex-row-reverse    justify-content-evenly">
        <div class="form-check  fontsmall fs-4  d-flex flex-row-reverse    ">

            <label class="  form-check-label text-secondary me-5" for="flexCheckDefault1">
                بيع - ايجار
            </label>
            <input class="form-check-input" type="radio" onclick="d()" name="ss" value="" id="flexCheckDefault1">
        </div>
        <div class="form-check fs-4   fontsmall d-flex flex-row-reverse">

            <label class="form-check-label text-secondary  me-5 " for="flexCheckChecked1">
                ابجار
            </label>
            <input class="form-check-input text-black" type="radio" onclick="c()" name="ss" value="" id="flexCheckChecked1">
        </div>
        <div class="form-check fs-4   fontsmall d-flex flex-row-reverse ">

            <label class="form-check-label text-secondary me-5  " for="flexCheckDefault2">
                بيع
            </label>
            <input class="form-check-input" type="radio" onclick=" b()" value="" name="ss" id="flexCheckDefault2">
        </div>
        <div class="form-check fs-4  fontsmall  d-flex flex-row-reverse ">

            <label class="form-check-label text-secondary me-5 " for="flexCheckChecked2">
                الكل
            </label>
            <input class="form-check-input " type="radio" value="" onclick=" a()" name="ss" checked id="flexCheckChecked2">
        </div>
    </form>

    <div class="container ">
        <div id="dataEstate" class="row">


          


        </div>
    </div>

</section>


<section class="newspapaer bgscen ">
    <div class="container py-4">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 text-center ">
                <h1 class="mb-5">
                    نحن نقدم الاختيار الصحيح للممتلكات التي تحتاجها.
                </h1>
                <h3 class="text-secondary">
                    يتوفر هنا عدد ضخم من العقارات للبيع والشراء والإيجار. تجد هنا أيضًا عقارًا للعيش المشترك ، لذا عليك أن تختار هنا وتستمتع بخصم كبير.
                </h3>
            </div>

            <div class="col-lg-6">
                <img class="img-fluid" src="~/MainLayout/assets/imges/Image 87.png">
            </div>

        </div>
        <div class=" row  bg-white  rounded-6 w-100 p-5 my-5 ">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus obcaecati recusandae illum ips
            a consequuntur aspernatur quod blanditiis,
            dicta unde explicabo ducimus repellendus quibusdam! Autem, exercitationem dolorum? Sit eos cupidita
            te sapiente.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus obcaecati recusandae illum ips
            a consequuntur aspernatur quod blanditiis,
            dicta unde explicabo ducimus repellendus quibusdam! Autem, exercitationem dolorum? Sit eos cupidita
            te sapiente.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus obcaecati recusandae illum ips
            a consequuntur aspernatur quod blanditiis,
            dicta unde explicabo ducimus repellendus quibusdam! Autem, exercitationem dolorum? Sit eos cupiditate sapiente.

        </div>

    </div>

</section>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                url: '/Estate/GetEstate',
                type: "Get",
                datatype: "json",
                success: function (response) {
                    console.log(response);
                    var string = ""
                    for (var i = 0; i < response.length; i++) {
                        string += `
                                <div class="col-xxl-3 col-md-6 col-sm-12 mb-6 mm  sale">
                                    <div class="card card1 top-be top-bee ">
                                        <img src="${response[i].main_photo}" alt="...">
                                        <div class="card-body text-center my-3 ">
                                            <h3 class="card-title"> ${response[i].name} </h3>
                                            <h6 class="card-text text-success">${response[i].state.name} ${response[i].city.name} </h6>
                                            <p class="text-secondary"> تاريخ الإضافة : 31/3/2022</p>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item d-flex flex-row justify-content-between">
                                                <div class="d-flex flex-row mt-3 mb-2">
                                                    <img class="img-fluid ms-2 " src="~/MainLayout/assets/imges/Image 57.png">
                                                    <div>
                                                        <p class="mb-0"> ${response[i].name_owner}</p>
                                                        <div>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill me-3 mb-2 mt-3" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                                    </svg>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
    `
                    }
                    $("#dataEstate").html(string);

                }
            });
        });

    </script>
    
}
