@model IQueryable<GP.Models.AppUser>
@{
    ViewData["Title"] = "أصحاب العقارات";
}

<style>
    header{
        padding-bottom:80px !important;
    }
</style>

<link rel="stylesheet" href="~/indexLayout/assets/css/UsersProfiles.css" />


  <div class="container-fluid pb-4">
    <div class="row justify-content-center align-items-center rowwws">

        <img src="~/indexLayout/assets/img/pages/pepole.jpeg"  class="img-fluid w-100 imgheder p-0 ">
 
      <div class="position-absolute w-100 text-center" style="top:25%; z-index: 1000;">
        <div class="form-floating text-end rounded-pill  w-75 my-3 d-flex align-items-center px-2 mx-auto" style="background-color:var(--form);">
          <input type="text" class="form-control rounded-pill text-end border-0"  id="mySearch" onkeyup="myFunction()" placeholder="ابحث...">
          <label for="floatingInput" class="labalfloat">ابحث عن اسم صاحب العقار...</label>
          <p class="m-0 fs-2 p-3"style="position: absolute; left: 0; "><i class="bi bi-search"></i></p>
        </div>
      </div>
    </div>
  </div>



   <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <section class="container ">
    <div class="row active-with-click" id="myMenu">
        
    </div>
  </section>


@section Scripts{
    <script type="text/javascript">

                function myFunction() {
                  var input, filter, ul,article, li,strong, a, i;
                  input = document.getElementById("mySearch");
                  filter = input.value.toUpperCase();
                  li = document.getElementsByClassName("article");

                  const collection = document.getElementsByClassName("n");
                    for (let i = 0; i < collection.length; i++) {
                      if (collection[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                      } else {
                        li[i].style.display = "none";
        
                      }
                    }
                }






           var search=document.getElementById("mySearch").value;
                    $(document).ready(function() {
                       FindbySearch("");
                    });
                    $("#searchy").on("click",
                         function(){
                            var se=document.getElementById("mySearch").value;
                            FindbySearch(se);
                         });


               function FindbySearch(searchinput){
                     $.ajax({
                              method: 'Get',
                              url: `/api/Api/GetOwnersCards?search=${searchinput}`,
                              success: function (data)
                              {
                                  console.log(data[1]);
                                  var text = "";
                                  var img ="";
                                  for(var i=0;i<data.length;i++){
                                      var src = "";
                                     if (data[i].profilePicture != null) {
                                       img = "data:image/jpeg;base64," + btoa(atob(`${data[i].profilePicture}`));
                                        } 
                                    else{
                                        img= "/indexLayout/assets/img/pages/user.jpg";
                                    }
                                      text+=
                                           `     
                                          <div class="col-lg-4 col-sm-6 col-12 article">
                                        <article class="material-card Red">
                                          <a href="/UsersProfiles/getprofile/${data[i].id}" class="">
                                            <h2>
                                              <p class="m-0"><strong class="n">${data[i].firstName} ${data[i].lastName}</strong></p>
                                              <span class="fs-6"> 
                                                صفحة صاحب العقار
                                                <i class="bi bi-arrow-left pt-3 px-1"></i>
                                              </span>
                                            </h2>
                                          </a>
                                          <div class="mc-content">
                                            <div class="img-container">
                                              <img class="img-fluid w-100 h-100" src="${img}">
                                            </div>
                                            <div class="mc-description">
                                                ${data[i].decription}
                                            </div>
                                          </div>
                                          <a class="mc-btn-action" id='btn${i}' onclick="showDetails('btn${i}')">
                                            <i class="fa fa-bars"></i>
                                          </a>
                                          <div class="mc-footer d-flex align-items-center justify-content-center">
                                            <a href="${data[i].facebook}" class="bi bi-facebook fa-fw "></a> 
                                            <a href="${data[i].twitter}" class="bi bi-twitter fa-fw "></a>
                                            <a href="${data[i].instigram}" class="bi bi-instagram fa-fw "></a>
                                            <a class="bi bi-whatsapp fa-fw "></a>
                                          </div>
                                        </article>
                                      </div>`  ;

                               }
                             $("#myMenu").html(text);

                      }
               });
        }


    </script>


  
    <script>   
            function showDetails(id) {
                let that = document.getElementById(id);
                var card = that.parentNode;
                var icon = that.childNodes[1];
                icon.classList.add("fa-spin-fast");
               
                const material = document.getElementsByClassName("material-card")[0];
                
                if (card.classList.contains("mc-active")) {
                  card.classList.remove("mc-active");
                    console.log("remove");
                     window.setTimeout(function () {
                         icon.classList.remove("fa-arrow-left");
                         icon.classList.remove("fa-spin-fast");
                         icon.classList.add("fa-bars");
                     },800);
                } else {
                 card.classList.add("mc-active");
                 console.log("add");
                    window.setTimeout(function () {
                           icon.classList.remove("fa-bars");
                           icon.classList.remove("fa-spin-fast");
                           icon.classList.add("fa-arrow-left");
                    }, 800);
                }
            };
       
    </script>

        @(await Html.PartialAsync("_ValidationScriptsPartial"))
}