@model IQueryable<GP.Models.AppUser>
@{

}

<link rel="stylesheet" href="~/indexLayout/assets/css/UsersProfiles.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div>
    <div class="wrapper mb-6">

        <div class="row align-items-center" style="height:100%;">



            <div class="container">

                <div class="card">

                    <div class="card-body" style="height:100%;">

                        <div class="image-overlay d-sm-none"></div>

                        <div class="row align-items-center" style="height:100%;">
                            <div class="image d-none d-sm-block" style="height:100%;">
                                <div class="a"> </div>
                                <div class="  text-center  justify-content-center pt-4 col-sm-4 bg-whitee h-75 mx-auto  mt-5">

                                    <h1 class="fw-bolder text-white ">Buy Elite Real Estate</h1>
                                    <h2 class=" mb-5 fw-bold">Live like an artist</h2>
                                    <div class="input-group mb-3 mx-auto  mt-6 search" style="z-index: 1000; ">

                                        <div class="input-group-append">
                                            <button id="searchy" class="btn btn-primary">Search</button>
                                            <span class="input-group-text"> <i class="fa fa-fw fa-search"></i></span>
                                        </div>
                                        <input type="text" class="pl-5 form-control" id="myInput" placeholder="Search">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="alldiv" class="container ">
        <div class="row active-with-click" id="myUL">
        </div>

    </div>
</div>

@section Scripts{
    @(await Html.PartialAsync("_ValidationScriptsPartial"));
<script src="~/js/usersprf/ajax_query.min.js"></script>
<script src="~/js/usersprf/main.js"></script>
<script type="text/javascript">
           var search=document.getElementById("myInput").value;
                    $(document).ready(function() {
                       FindbySearch("");
                    });

                    //$("#myInput").on("change",function(){
                    //     var se=document.getElementById("myInput").value;
                    //        FindbySearch(se);
                    //})
                    $("#searchy").on("click",
                         function(){
                            var se=document.getElementById("myInput").value;
                            FindbySearch(se);
                         });


               function FindbySearch(searchinput){
                     $.ajax({
                              method: 'Get',
                              url: `/api/Api/GetOwnersCards?search=${searchinput}`,
                              success: function (data)
                              {
                                  var text = "";
                                  for(var i=0;i<data.length;i++){
                                      var src = "";
                                  //    src=binaryAgent(data[i].profilePicture);
                                      text+=
                                           ` <div class=" txt col-lg-4 col-md-6 col-xs-12">
                                                 <article class="material-card Red">
                                                        <h2>
                                                        <span class="A">${data[i].firstName} ${data[i].lastName}</span>
                                                        <strong>
                                                              <i class="fa fa-fw fa-star"></i>
                                                                  The Deer Hunter
                                                        </strong>
                                                        </h2>
                                                   <div class="mc-content">
                                                      <div class="img-container">
                                                           <img class=" img-fluid" src="">
                                                      </div>
                                                      <div class="mc-description">
                                                         ${data[i].decription}
                                                      </div>
                                                   </div>
                                                      <a class="mc-btn-action">
                                                        <i class="fa fa-bars"></i>
                                                      </a>
                                                    <div class="mc-footer">
                                                         <h4>
                                                             Social
                                                         </h4>
                                                      <a id="facebook" href="${data[i].facebook}" class="fa fa-fw fa-facebook"></a>
                                                      <a id="twitter" href="${data[i].twitter}" class="fa fa-fw fa-twitter"></a>
                                                      <a id="instagram" href="${data[i].instigram}" class="fa fa-fw fa-instagram"></a>

                                                     </div>
                                                </article>
                                            </div>`  ;

                               }
                             $("#myUL").html(text);

                      }
               });
        }


    function binaryAgent(str)
    {
      var newBin = str.split(" ");
      var binCode = [];
      for (i = 0; i < newBin.length; i++)
      {
        binCode.push(String.fromCharCode(parseInt(newBin[i], 2)));
      }
      return binCode.join("");
    }
</script>




    }

