@model GP.Models.Contract
@inject GP.Models.IEstate _ser


@{
    bool isSales = ViewBag.TypeEstate==1 ? true : false;
    Estate estate = _ser.GetOnetoImage(IdEstate.Id);
}
<h1>@ViewBag.TypeOfContract</h1>

<form method="post" asp-action="CreateContract">
    <input asp-for="Id" hidden/>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container">
    <div class="row">
   
    <div class="col-9">

        <div class="row">
            <div class="col">
         <div class="form-group"> 
            <label asp-for="BuyerName" class="control-label mb-3"> اسم المشتري </label>
            <input asp-for="BuyerName" class="form-control rounded-3" placeholder="محمد السيد"/>
            <span asp-validation-for="BuyerName" class="text-danger"></span>
          </div>
          </div>
           <div class="col">
           <div class="form-group">
                <label asp-for="Buyerphone_num" class="control-label mb-3"> رقم هاتف المشتري </label>
                <input asp-for="Buyerphone_num" class="form-control rounded-3" placeholder="000-0000-000 +"/>
                <span asp-validation-for="Buyerphone_num" class="text-danger"></span>
          </div>
          </div>
          </div>
          <div class="row">
           <div class="form-group mt-5">
                <label asp-for="Description" class="control-label mb-3"> العقد كامل <sub class="text-danger"> الرجاء كتابته بدقة </sub>   </label>
                <textarea min="200" rows="5" asp-for="Description" class="form-control rounded-3" placeholder="مثال: شقة للبيع في منطقة  بسعر "></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
          </div>
          </div>
                @{
                    if (!isSales)
                    {
                         <div class="row">
                          <div class="form-group mt-5">
                            <label asp-for="up_to_date" class="control-label mb-3">محجوز لتاريخ    </label>
                            <input asp-for="up_to_date" class="form-control rounded-3"/>
                            <span asp-validation-for="up_to_date" class="text-danger"></span>
                      </div>
          </div>
                    }
                }
         

          <input onclick="confirm ('هل أنت متأكد من الحفظ ؟ لن تتمكن من الحذف أو التعديل ')" type="submit" class="btn btn-danger mt-5 d-block js-delete" value="حفظ" width="50"/> 

      </div>
       <div class="col-3">

        <div class="d-flex justify-content-center">
                 <img src="~/images/Estate/@estate.Main_photo" width="100%" height="100%" class="d-block "/>

       </div>
    </div>
      </div>
      </div>

</form>

