<!DOCTYPE html>
<html lass="loaded semi-dark-layout" lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Admin/css/style.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body class="body" dir="rtl">
    <header class="bg-white">

        <div class="sidebar bg-white h-100 pt-1 end-0 " id="myDIV">

            <div id="btn" class="morapag  bg-white rounded-circle border-0 iconpos ">
                <ion-icon class="p-2 fs-2  " name="chevron-forward-outline"></ion-icon>
            </div>

            <div id="btn " onclick="myFunction()" class="morapag close bg-white rounded-circle border-0 iconpos ">
                <ion-icon class="p-2 fs-2  " name="close-outline"></ion-icon>
            </div>

            <div class="sidebar-header text-center pb-3">
                <a href="index.html" class="sidebar-logo text-decoration-none">
                    <img class="img-fluid " style="max-width:67%;" src="~/Admin/images/logo.png">
                </a>
                <script>

                </script>

            </div>

            <div class="sidebar-search mb-3">
                <div class="search-body align-items-center ">
                    <input type="text" class=" form-control shadow-none border-0 text-end" id="mySearch"
                           placeholder="ابحث...">
                    <ion-icon class="fs-2" name="search-outline"></ion-icon>
                </div>
            </div>


                <div class="sidebar-body  scrol">
                    <ul id="myList">
                        @if (User.IsInRole("Admin"))
                        {
                    <li class="main aa">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Index">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">الرئيسية</span>
                        </a>
                    </li>
                    <li class="" id="real estates">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Index">
                            <span class="icon">
                                <ion-icon name="business-outline"></ion-icon>
                            </span>
                            <span class="title">العقارات</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Category">
                            <span class="icon">
                                <ion-icon name="grid-outline"></ion-icon>
                            </span>
                            <span class="title">التصنيفات</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Type">
                            <span class="icon">
                                <ion-icon name="pricetags-outline"></ion-icon>
                            </span>
                            <span class="title">الانواع</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="State">
                            <span class="icon">
                                <ion-icon name="flag-outline"></ion-icon>
                            </span>
                            <span class="title">الدول</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="City">
                            <span class="icon">
                                <ion-icon name="map-outline"></ion-icon>
                            </span>
                            <span class="title">المدن</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" href="nespaper.html">
                            <span class="icon">
                                <ion-icon name="newspaper-outline"></ion-icon>
                            </span>
                            <span class="title">الاعلانات</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" href="crunssy.html">
                            <span class="icon">
                                <ion-icon name="card-outline"></ion-icon>
                            </span>
                            <span class="title">العملات</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Service">
                            <span class="icon">
                                <ion-icon name="list-outline"></ion-icon>
                            </span>
                            <span class="title">الخدمات</span>
                        </a>
                    </li> 
                    <li class="">
                        <a class="list" asp-area="Admin" asp-controller="Comments" asp-action="Index">
                            <span class="icon">
                                <ion-icon name="list-outline"></ion-icon>
                            </span>
                            <span class="title">التعليقات</span>
                        </a>
                    </li>
                         }
                        else if (User.IsInRole(""))
                        {
                            
                        }
                    </ul>
                </div>

        </div>

        <div class="content">
            <div class="px-md-5 mx-md-3">
                <div class="row ">

                    <div class="m-0 cont col-12  d-flex flex-row justify-content-between h-25 align-items-center">

                        <div class="d-flex flex-row justify-content-between">
                            <h2 class="font fs-2  p-3 pe-5">
                                <span class="show d-none" style="font-size:30px;cursor:pointer" onclick="myFunction()">&#9776;</span> لوحة التحكم
                            </h2>
                        </div>


                        <div class="d-flex align-items-center  justify-content-center ">
                            <a class="px-2" href="#"><ion-icon class="fs-2 text-black" name="notifications-sharp"></ion-icon></a>

                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                    <img width="50" src="~/Admin/images/Admin.png">
                                </button>
                                <ul class="dropdown-menu border-0 text-center ">
                                    <partial name="_LoginPartial" />

                                </ul>
                            </div>
                        </div>






                    </div>
                </div>
            </div>

        </div>
    </header>


    <div class="content">
        <div class=" p-5 " style="padding-bottom: 500px;">
            <div id="b">
                @RenderBody()

            </div>
        </div>
    </div>













    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let scripthiden = document.querySelectorAll(".scripthiden");
        let content = document.querySelectorAll(".content");
        let list = document.querySelectorAll(".list");

        btn.onclick = function () {
            sidebar.classList.toggle("active");
            for (let i = 0; i < scripthiden.length; i++) {
                scripthiden[i].classList.toggle("active");
            }
            for (let i = 0; i < content.length; i++) {
                content[i].classList.toggle("active");
            }
            for (let i = 0; i < list.length; i++) {
                list[i].classList.toggle("active");
            }
        }


        $(document).ready(function () {
            $("#mySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        let body = document.querySelector(".body");
        let cont = document.getElementsByClassName("cont");

        const checkbox = document.getElementById('checkbox');


        var toggle = false;
        checkbox.addEventListener('change', () => {
            body.classList.toggle('dark');
            sidebar.classList.toggle('dark');

            for (var i = 0; i < cont.length; i++) {
                cont[i].classList.toggle('dark');
            }

            if (toggle === false) {
                document.getElementById('changelogo').src = 'image/logodark.png';

            } else {
                document.getElementById('changelogo').src = '/image/logo.png';

            }
            toggle = !toggle;

        })



    </script>



    <script>
        $.extend(true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": true
        });
        $(document).ready(function () {
            var table = $('#example').DataTable({
                search: {
                    return: true,
                },
            });
            // $('#example').DataTable();
            $(".dataTables_info").hide();
            // $("#example_filter").hide();
            // $("#example_length").css({ "position": "absolute", "right": "0", "bottom": "288px" });
            // $("#example_length").html('<label>أظهر<select class="mx-3" name="example_length" aria-controls="example" class=""><option value="10" >10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>الخيارات</label>');
            // $("#example_filter").html('<label>ابحث:<input type="search" class placeholder aria-controls="example"></label>');
        });


        //js
        window.onload = function e() {

            var form = document.getElementById('inserts');
            var all = document.getElementById('all');
            var oplist = form.elements.genre;
            all.addEventListener('change', checkList);
            function checkList() {
                for (var i = 0; i < oplist.length; i++) {
                    oplist[i].checked = all.checked;
                }
            }

            for (var i = 0; i < oplist.length; i++) {
                oplist[i].addEventListener('change', check);
            }

            function check(e) {
                if (!e.target.checked) {
                    all.checked = false;
                }
                for (var i = 0; i < oplist.length; i++) {

                    if (!oplist[i].checked) {
                        return;
                    }

                }
                all.checked = true;
            }

            var search = document.getElementById('example_length').firstChild;
            search.innerHTML = '<label>أظهر<select class="mx-3" name="example_length" aria-controls="example" class=""><option value="10" >10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>الخيارات</label>';


            var list = document.getElementById('btndel');
            list.addEventListener('click', function (e) {
                DeleteItem(e);
            }, false);
            function DeleteItem(e) {
                var elm = e.target;
                var a, li;
                if (elm.nodeName.toLowerCase() == "button") {

                    //a = elm.parentNode;
                    //li = a.parentNode;
                    //list.removeChild(li);

                    li = elm.parentNode.parentNode;
                    list.removeChild(li);
                }
                e.preventDefault();
            }
        };





        function myFunction() {
            var x = document.getElementById("myDIV");
            if (window.innerWidth > 992) {
                x.style.display = "block";
            }

            if (x.style.display === "block") {
                x.style.display = "none";
            }
            else {
                x.style.display = "block";
                x.style.position = "ABSOLUTE";
                x.style.zIndex = "100";
                x.style.width = "250px";
                x.style.transition = "all 0.5s ease-out";
            }

        }



    </script>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <script src="~/SweetAlert/sweetalert2@11.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/Admin/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>