<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة التحكم</title>
    <link rel="shortcut icon" href="~/assets/img/logo/logo.png">
    <link href="~/assets/css/chart/mobiscroll.javascript.min.css" rel="stylesheet" />
    <script src="~/assets/js/Chartmobiscroll.javascript.min.js"></script>
    <link href="~/assets/bootstrap/bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/bootstrap/bootstrap5.min.css" rel="stylesheet">
    <link href="~/assets/bootstrap/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/bootstrap/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/bootstrap/animate.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/css/c.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Login/login.css" rel="stylesheet" />
   
</head>

<body dir="rtl">
    <div class="container" id="lod">
        <h6 class="position-absolute mx-auto">انتظر قليلا لو سمحت</h6>
        <div id="loading"></div>
    </div>

    <main id="main" style="display: block;">
        <header class="bgcolors">
            <div class="sidebar  h-100 end-0 " id="myDIV">

                <div class="sidebar-header d-flex justify-content-center pb-3 ">
                    <a href="dashbord.html" class="sidebar-logo">
                        <img src="~/assets/img/logo/logowit.png" class="logo" id="logo" />
                    </a>
                </div>

                <div id="btn " onclick="myFunction()" class="close bg-white rounded-circle border-0 iconpos ">
                    <i class="bi bi-x fs-1 "></i>
                </div>
                <div class="sidebar-body  scrol">
                    <ul id="myList">
                        <li class="main aa">
                            <a class="list aa" asp-area="Admin" asp-controller="AdminOperation" asp-action="Index">
                                <span class="title ">الرئيسية</span>
                                <span class="icon">
                                    <i class="bi bi-house-door"></i>
                                </span>
                            </a>
                        </li>
                        <li class="" id="real estates">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Index">
                                <span class="title">العقارات</span>
                                <span class="icon">
                                    <i class="bi bi-building"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Category">
                                <span class="title">التصنيفات</span>
                                <span class="icon">

                                    <i class="bi bi-columns-gap"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="User">
                                <span class="title">المستخدمين</span>
                                <span class="icon">

                                    <i class="bi bi-columns-gap"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Type">
                                <span class="title">الانواع</span>
                                <span class="icon">
                                    <i class="bi bi-tags"></i>
                                </span>

                            </a>
                        </li>
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="State">
                                <span class="title">الدول</span>
                                <span class="icon">
                                    <i class="bi bi-flag"></i>
                                </span>

                            </a>
                        </li>
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="City">
                                <span class="title">المدن</span>
                                <span class="icon">
                                    <i class="bi bi-map"></i>
                                </span>

                            </a>
                        </li>
                        <li class="">
                            <a class="list">
                                <span class="title">الاعلانات</span>
                                <span class="icon">
                                    <i class="bi bi-newspaper"></i>
                                </span>

                            </a>
                        </li>
                        <li class="">
                            <a class="list">
                                <span class="title">العملات</span>
                                <span class="icon">
                                    <i class="bi bi-credit-card"></i>
                                </span>

                            </a>
                        </li>
                        <li class="" >
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Comments">
                                <span class="title">التعليقات</span>
                                <span class="icon">
                                    <i class="bi bi-credit-card"></i>
                                </span>

                            </a>
                        </li>
                        
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="AdminOperation" asp-action="Service">
                                <span class="title">الخدمات</span>
                                <span class="icon">
                                    <i class="bi bi-list-ul"></i>
                                </span>

                            </a>
                        </li>
                        <li class="">
                            <a class="list" asp-area="Admin" asp-controller="InformationGen" asp-action="Index">
                                <span class="title">المعلومات العامة</span>
                                <span class="icon">
                                    <i class="bi bi-list-ul"></i>
                                </span>

                            </a>
                        </li>
                    </ul>
                </div>

                <div class=" bottom-0">
                    <div class="sidebar-search">
                        <div class="search-body align-items-center text-white ">
                            <input type="text" class=" form-control shadow-none border-0 text-end" id="mySearch"
                                   placeholder="ابحث...">
                            <ion-icon class="fs-2" name="search-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0">
                <div class="content">
                    <ul class="nav p-0 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <p class="text-white fs-2">
                                    <span class="show d-none px-1" style="font-size:30px;cursor:pointer;"
                                          onclick="myFunction()">&#9776;</span>
                                    <span id="btnss" class="text-white d-lg-inline-block d-none">
                                        <i class="bi bi-chevron-right"></i>
                                    </span>
                                    لوحة التحكم
                                </p>
                            </a>
                        </li>
                        <li class="nav-item me-auto ps-2 ">
                            <div class="toggle-container">
                                <button class="theme-btn text-white light" onclick="setTheme('light')"
                                        title="Light mode">
                                    <i class="bi bi-brightness-high-fill"></i>
                                </button>
                                <button class="theme-btn text-white dark" onclick="setTheme('dark')" title="Dark mode">
                                    <i class="bi bi-moon-stars-fill"></i>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class=" start-0 text-white fs-2" href="#">
                                <i class="bi bi-bell-fill"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-2 text-white" data-bs-toggle="dropdown" href="#"
                               role="button" aria-expanded="false">
                                <i class="bi bi-person-bounding-box"></i>
                            </a>
                            <ul class="dropdown-menu text-center">

                                <partial name="_LoginAdminPartial" />

                            </ul>
                        </li>
                    </ul>

                </div>






            </div>
        </header>



        <article class="content m-5">
            @RenderBody()
        </article>
    </main>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/Chat.js"></script>
    <script src="~/js/Estate.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Login/lottie-player.js"></script>
    <script src="~/js/Login/all.js"></script>
    <script src="~/js/Login/bootstrap.bundle.min.js"></script>
    <script src="~/assets/bootstrap/bootstrap5.bundle.min.js"></script>
    <script src="~/assets/bootstrap/ajax_query.min.js"></script>
    <script src="~/assets/bootstrap/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/bootstrap/Chart.min.js"></script>
    <script src="~/assets/js/animate.js"></script>
    <script src="~/assets/js/loding.js"></script>
    <script src="~/assets/js/Calendar.js" type="text/javascript"></script>
    <script src="~/assets/js/Chart.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- <script src="~/assets/js/index.js"></script> -->

    <script>
        let btn = document.querySelector("#btnss");
        let sidebar = document.querySelector(".sidebar");
        let scripthiden = document.querySelectorAll(".scripthiden");
        let content = document.querySelectorAll(".content");
        let list = document.querySelectorAll(".list");
        let logo = document.getElementById("logo");
        logo.style.display = "block";
        btn.onclick = function () {
            sidebar.classList.toggle("active");
            for (let i = 0; i < scripthiden.length; i++) {
                scripthiden[i].classList.toggle("active");
                logo.style.display = "none"
            }
            for (let i = 0; i < content.length; i++) {
                content[i].classList.toggle("active");
            }
            for (let i = 0; i < list.length; i++) {
                list[i].classList.toggle("active");
            }
            logo.classList.toggle("active");
        }




        $(document).ready(function () {
            $("#mySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        window.onresize = changeDisplaySize;

        function changeDisplaySize() {
            var x = document.getElementById("myDIV");

            if (window.innerWidth > 992) {

                x.classList.toggle("showNav")
            }
        }
        function myFunction() {
            var x = document.getElementById("myDIV");



            x.classList.toggle("showNav")



        }




        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }
        (function () {
            if (localStorage.getItem('theme')) {
                setTheme(localStorage.getItem('theme'))
            } else {
                setTheme('theme-dark-blue')
            }

        })();






    </script>
</body>

</html>