@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "لا يمكن الوصول ";
}

<div class="text-center h-75 d-flex justify-content-center align-items-center">
    <h1>لا يمكن الوصل الى الصفحة</h1>

</div>