@page
@model LockoutModel
@{
    ViewData["Title"] = "الحظر";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">هذا الحساب تم حظره, يرجى التواصل مع الإدارة بخصوص ذلك</p>
</header>
