@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
body{
  font-family: 'Cairo', sans-serif;
}
.padable{padding: 3em;}
.main-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-row{
  overflow: hidden;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 5px #858585;
}
.component-row h1{
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1.8em;
  position: relative;
}
.line{
  width: 90px;
  border-bottom: 6px solid #005c4b;
  position: absolute;
  top: 50%;right: 6em;
}
.illustrator{position: relative;}
.circle{
  border-radius: 50%;
  width: 900px;
  height: 900px;
  background-color: #005c4b;
  position: absolute;
  top: -12px;left: -27em;
  border: 8px solid rgba(255,255,255,0.8);
}
.circle-main{
  border-radius: 50%;
  width: 600px;
  height: 600px;
  background-color: #005c4b;
  position: absolute;
  top: -20em;right: -20em;
}
.circle-main-m{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1.2em;right: 14em;
  background-color: #005c4b;
  background-image: linear-gradient(315deg, #005c4b 0%, #8fa177 100%);
}
.circle-main-s{
  border-radius: 20%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15em;right: 1em;
  background-color: #005c4b;
  background-image: linear-gradient(315deg, #005c4b 0%, #ffffff 100%);
}



.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  border-color: #005c4b;
  box-shadow: 0 0 0 0.125em #005c4b9b;
  color: #005c4b;
}


.form-check-input:checked {
  background-color: #005c4b;
  border-color: #005c4b;
}

.bgcolors{
  background-color: #005c4b; 
}
.colors{
  color: #005c4b; 
}
a:hover {
  color:  #005c4bc2 ;
}