*{
    direction: rtl ;
}



body {
  font-family: sans-serif;
  font-style: normal;
  background-color: #d7d7d7;
 
}
:root{
  --logincolor :#1a659e ;
  --bgcolor:#05553E67;
  --bgcolor1:#05553Ecb;
  --bgcolor2:#d7d7d7;
  --navcolor: chocolate;
  --navcolorhover: rgb(255, 255, 255);
  --navbghover: chocolate;
  --colorscrolbar: #a6bad9;
  
  
}


.mt-6 {
    margin-top: 10rem!important;
}

.mb-3.form-check {
    padding-left: 16.5em;
}
.mb-6{
    margin-bottom: 5rem!important;
}

  .dash {
    background-color: white;
    border-radius: 10px;
  }
 
  
  .dark {
    background-color: #1d1e22!important;
    color: #f9f9f9 !important;
  }


  .content .top {
    padding: 0;
    height: 100px;
  }
  .content .top {
    padding: 0;
  }
  
  /* siebar all */
  
  .morapag {
    width: 50px;
    height: 50px;
    z-index: 100;
    margin: 20px;
    margin-right: 90%;
    box-shadow: -1px 1px 20px 4px #89898975;
    color: var(--bgcolor1);
  }
  .ww{
    width: 248px;
  }
  .sidebar {
    display: none;
    right: 0;
  }
  
  .sidebar.active {
    width: 100px;
    transition: all 0.5s ease;
  }
  .scripthiden.active {
    display: none;
    transition: all 0.9s ease-in-out;
  }
  

.sidebar-body ul li:hover a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  /* background: #ff000069; */
  border-radius: 50%;
  box-shadow: -20px 20px 0px 0px var(--bgcolor2);
  pointer-events: none;
}
.sidebar-body ul li:hover a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  /* background: #00000069; */
  border-radius: 50%;
  box-shadow: -20px -19px 0px 0px var(--bgcolor2);
  pointer-events: none;
}
.aa a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  /* background: #ff000069; */
  border-radius: 50%;
  box-shadow: -20px 20px 0px 0px var(--bgcolor2);
  pointer-events: none;
}
.aa a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  /* background: #00000069; */
  border-radius: 50%;
  box-shadow: -20px -19px 0px 0px var(--bgcolor2);
  pointer-events: none;
}








.sidebar-body ul li {
  position: relative;
  list-style: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.sidebar-body ul li:hover {
  background: var(--bgcolor2);
}
.sidebar-body ul li:active {
  background: var(--bgcolor2);
}
  @media (min-width: 992px) {
    .sidebar {
      position: fixed;
      width: 248px;
      display: flex;
      flex-direction: column;
      z-index: 200;
      transition: all 0.5s ease-in-out;
      /* box-shadow: -5px 8px 20px 0px #68585869; */
      
    }
    .content {
      padding-right: 247px;
      transition: all 0.5s ease-in-out;
    }
    .content.active {
      padding: 0;
      transition: all 0.5s ease-in-out;
      padding-right: 100px;
  
    }
    .close{
      display: none !important;
    }


    
  }

  @media (max-width: 992px) {
    .show{
      display: inline-block !important;
    }
    .dd{
      overflow-y: auto !important;
    }
    .close{
      display: block !important;
    }
  }
  
  .sidebar-logo-text {
    line-height: 1;
    font-size: 4vw;
  }
  
  .sidebar-logo-text:hover {
    color: var(--bgcolor2);
  }
  
  .sidebar-body {
    height: calc(100% - 180px);
    position: relative;
    overflow: hidden;
  }
  
  .sidebar-body ul {
  
    padding-left: 0;
    padding-right:20px ;
    text-decoration: none;
    flex-direction: row-reverse;
  }
  .aa {
    background: var(--bgcolor2);
  }
  .sidebar .sidebar-body ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .sidebar.dark .sidebar-body ul li a {
    color: rgb(255, 255, 255);
  }
  .sidebar-body ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .sidebar-body ul li a .icon {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    align-items: center;
  }
  .sidebar-body ul li a .icon ion-icon {
    font-size: 1.75em;
  }
  .sidebar-body ul li a .titel {
    display: block;
    position: relative;
  }
  
  
  
  .list.active .title {
    display: none;
  }
  
  a.list{
      direction: ltr;
  }

  @media (max-width:560px) {
    .mark{
      margin-bottom: 25px;
    }
  }
  
  ul {
    list-style-type: none;
}
  
  
  .sidebar-search{
    box-shadow: inset 1px -3px 20px 0px #7a947038;
  } 
  .search-body {
    padding-left: 8px;
    display: flex;
    height: 40px;
    border: 1.5px solid transparent;
    border-radius: 6px;
  }
  
  .search-body .form-control {
    background-color: transparent;
  }
  
  .scrol {
    overflow-y: auto;
    direction: ltr;
  }
  .scrol::-webkit-scrollbar {
    width: 4px;
    border-radius: 30px;
  }
  .scrol::-webkit-scrollbar-track,
  .scrol::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrol:hover::-webkit-scrollbar {
    width: 7px;
  }
  .scrol:hover::-webkit-scrollbar-thumb {
    background-color: var(--bgcolor2);
  }
  .scrol:hover::-webkit-scrollbar-thumb:hover {
    background-color: var(--bgcolor2);
  }
  
  .sidebar-footer {
    justify-content: space-evenly;
  }
  h2.font.p-3.pe-5 {
    color: var(--bgcolor1);
}
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    border-radius: 50px;
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
  }
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  .bg-success{
    background-color: var(--bgcolor2) !important ;
    position: relative;
    z-index: 0;
  }


.iconpos{
    position: absolute;
    z-index: 6;
    top: 5%;
   
    
}


.rounded-3{
    border-radius: 1rem !important;
}
.rounded-4{
    border-radius:2rem !important ;
}
.p-7{
    padding: 10rem !important;
}

.p-6{
    padding: 5rem !important;
}
.mt-7{
    margin-top: 7rem !important ;
}

@media (max-width:575px) {
    .ff{
        margin-bottom: 10px;
    }

  }
  
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(54 115 87 / 51%);
}




#imgUpload {
  display: inline-block;
  height: 180px;
  width: 180px;
  background-size: 180px;
  cursor: pointer;
  line-height: 180px;
  color: transparent;
  user-select: none;
  background-image: url('https://placehold.it/180x180');
}

#imgUpload:hover {
  color: white;
}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: -5px;
  box-shadow: 0 0 0 0.25rem  #00b17f94;}
